[2013-07-27 06:58] rgommers opened #3 "Remove numerix compat layer"

[2013-07-27 07:00] rgommers opened #4 "Add single code base Python 3 support"

[2013-07-27 07:02] rgommers opened #5 "PEP8 issues"
PEP8 should run cleanly with the same exceptions as for scipy (see scipy/.travis.yml).

Copy `[pep8]` section in .travis.yml from scipy to pywt.

[2013-07-27 07:03] rgommers opened #6 "Migrate tests to nose"

[2013-07-27 07:03] rgommers opened #7 "Expand test coverage without Matlab to a reasonable level"

[2013-07-27 07:04] rgommers opened #8 "Replace custom C templates by Numpy's templating system"

[2013-07-27 07:04] rgommers opened #9 "Replace Cython templates by fused types"

[2013-07-27 07:05] rgommers opened #10 "Replace use of __array_interface__ with Cython's memoryviews"

[2013-07-27 07:07] rgommers opened #11 "Format existing docstrings in numpydoc format."

[2013-07-27 07:08] rgommers opened #12 "Complete docstrings, they're quite sparse right now"

[2013-07-27 08:38] rgommers opened #13 "Reorganize source tree"
To something more standard. The code should be under `pywt/`, not `src/pywt`. Tests should be in subdirs of the source, not in `tests`.  `util/` should be cleaned up, and renamed to `tools/`.

[2013-07-27 08:39] rgommers opened #14 "And Bento build support"
Low prio - leave till the end to avoid double work.

[2013-07-27 10:58] #6 closed, assigned to rgommers

[2013-07-27 17:08] #3 closed, assigned to nobody

[2013-07-31 20:21] sciunto opened #19 "Check default option consistency"
For ex, in class `BaseNode`, option decompose in `walk`, `walk_depth` are not set to the same default value. It might be confusing...

I suggest to check default options everywhere against this remark and fix where needed.

[2013-08-12 22:08] rgommers opened #24 "doc/source/regression should be moved"
I'm in the process of converting all those to unit tests. After that the usable examples should be merged with the rest of the documentation, and these files should then be deleted.

[2013-08-22 15:44] sciunto opened #27 "Broken test: test_swt_decomposition"
There is a mismatch on cA2
https://travis-ci.org/sciunto/pywt/jobs/10499139#L613

In master, after https://github.com/rgommers/pywt/pull/26/

[2013-09-28 16:23] rgommers opened #28 "Install issue, no module tools.six"
BTW, installing pywt on Linux I get:
Reported on the mailing list:

"BTW, installing pywt on Linux I get":

[code]

"But it is not in the requirements."

[2013-09-28 20:34] #28 closed, assigned to nobody

[2013-09-28 20:39] #13 closed, assigned to rgommers

[2013-09-28 20:45] #5 closed, assigned to nobody

[2013-09-28 20:46] #4 closed, assigned to rgommers

[2013-09-28 20:49] #11 closed, assigned to nobody

[2013-09-28 20:50] #12 closed, assigned to nobody

[2013-09-30 10:07] Dapid opened #29 "wp.update fails after removal of nodes"
See test_wp/test_removing_nodes. The traceback is:

  File "/usr/lib64/python2.7/site-packages/PyWavelets-0.2.2-py2.7-linux-x86_64.egg/pywt/wavelet_packets.py", line 566, in reconstruct
    data = super(WaveletPacket, self).reconstruct(update)
  File "/usr/lib64/python2.7/site-packages/PyWavelets-0.2.2-py2.7-linux-x86_64.egg/pywt/wavelet_packets.py", line 185, in reconstruct
    return self._recon

[2013-09-30 11:47] Dapid opened #31 "Method to delete a node"
The current way is del(wp['ad']). We should have a dedicated method.

[2013-09-30 13:43] Dapid opened #32 "wp.update fails on 2D"
From the docs:

[code]

Produces:
  File "/usr/lib64/python2.7/site-packages/PyWavelets-0.2.2-py2.7-linux-x86_64.egg/pywt/wavelet_packets.py", line 667, in reconstruct
    data = super(WaveletPacket2D, self).reconstruct(update)
  File "/usr/lib64/python2.7/site-packages/PyWavelets-0.2.2-py2.7-linux-x86_64.egg/pywt/wavelet_packets.py", line 185, in reconstruct
    return self._reconstruct(update)

[2013-09-30 14:32] #24 closed, assigned to nobody

[2013-09-30 14:36] rgommers opened #34 "Wavelet string attributes shouldn't be bytes in Python 3"
Failing test:

[code]

Because `w.short_family_name` is `b'db'`. Should be fixed in the Cython code, maybe just by decoding to `latin-1` in the properties.

Marking as knownfail for now.

[2013-09-30 16:37] #29 closed, assigned to nobody

[2013-09-30 16:43] #10 closed, assigned to rgommers

[2013-09-30 16:44] rgommers opened #35 "Re-enable float32 support"

[2013-09-30 17:40] #32 closed, assigned to nobody

[2013-09-30 18:36] #27 closed, assigned to nobody

[2013-09-30 19:17] #34 closed, assigned to nobody

[2013-09-30 19:23] sciunto opened #36 "wavelet instance vs string"
Hi,

In functions.py, `intwave` and `centfreq` can receive either a wavelet instance or a string. Should we keep this or should I remove strings as a valid type?

There is the same question for multidim/multilevel actually.

I don't think scipy used to allow two types. @rgommers Thoughts?

[2013-09-30 21:03] #9 closed, assigned to nobody

[2013-09-30 21:03] #35 closed, assigned to nobody

[2013-10-01 07:04] rgommers opened #38 "API issues to discuss or change"
This list is meant to keep track of things we come across in the API that don't look right and may need fixing (after completing the refactoring):

- function names in functions.py need to be longer and clearer (``intwave``, ``centrfrq``, ``scal2frq``, ``orthfilt``).
- ``qmf`` already exists in ``scipy.signal``
- ``wavelet`` parameter to functions should be uniform everywhere (can be Wavelet insta

[2013-10-01 10:20] Dapid opened #40 "Test with Numpy 1.8rc1"
The test suite passes with Numpy 1.8rc1.

(I don't know if an issue is the best way to notify this.)

[2013-10-01 10:24] #40 closed, assigned to nobody

[2013-10-01 13:40] #36 closed, assigned to nobody

[2013-10-01 13:48] #8 closed, assigned to rgommers

[2013-10-01 20:58] rgommers opened #45 "demos should be updated and integrated in docs"
There's some pretty cool stuff in demo/, much better than what's in the docs. So that should be updated (no `pylab` and too many print statements mainly) and integrated into the docs.

[2013-10-02 07:44] Dapid opened #46 "Independent test comparison"
I think this belongs to a new issue.

Right now, the test suite is (roughly) ensuring the results are the same as they were in the last published version of pywt. I think the values we get should be compared to other completely independent implementations. [R has several](http://stackoverflow.com/questions/3363826/best-wavelet-library-for-r) libraries we could use, and there is also the MATLAB com

[2013-10-02 07:46] Dapid opened #47 "Test on Mac"
I have access to a 10.6 machine with Python from MacPorts, I can test it there.

Anyone has tested it already?

[2013-10-02 11:14] #45 closed, assigned to nobody

[2013-10-02 16:24] #47 closed, assigned to nobody

[2013-10-03 11:47] Dapid opened #48 "Continous wavelet transform?"
There is an experimental branch using cwt:

https://bitbucket.org/nigma/pywt/src/89b218002904

We should fix it and merge it. It is not on the Github repository, though.

[2014-04-06 15:16] harpone opened #51 "MODWT Transform"
Hi all,

It seems to me that there's a problem with the pywt.swt function, possibly with documentation only. The docs say

"Returns list of approximation and details coefficients pairs in order similar to wavedec function::
[(cAn, cDn), ..., (cA2, cD2), (cA1, cD1)]"

which implies that this is actually a multi-resolution analysis, which should mean that the sum $\sum\limits_{k=1}^m cDk + cAm = X$

[2014-08-05 18:10] mrzv opened #54 "idwtn doesn't tolerate unequal shapes in coefficients"
The following two snippets of code should be equivalent, I think:
[code]

However, if one uses 'db2' or 'bior3.3' wavelet (the only one that I know works is 'db1'), the first version crashes in the commented line (that generates b1), because not all coefficients have the same shape.

[2015-04-13 16:05] sciunto opened #57 "new feature: iswt2"
See https://github.com/nigma/pywt/issues/1

[2015-04-13 18:54] rgommers commented on #57
That feature request makes sense. Would be good to add. We also still need to add the 1-D version.

[2015-05-08 22:46] lukepfister opened #58 "new feature: contourlets"
Is there interest for adding [contourlet](http://en.wikipedia.org/wiki/Contourlet) support to the package?

I was chatting with Minh Do and he's willing to provide the C source used for his Matlab [Contourlet toobox](http://minhdo.ece.illinois.edu/software/).  They use MEX for the Matlab to C interface, but it should be an easy(ish..) traslation.

[2015-05-09 11:20] rgommers commented on #58
@lukepfister that would be great I think. The original paper has >3000 citations, so contourlets are clearly of interest to a wide audience.

I assume that Minh Do is okay with a BSD license? I had a look at http://www.mathworks.com/matlabcentral/fileexchange/8837-contourlet-toolbox which states that it's BSD licensed, but in the download there's conflicting licenses (license.txt is 2-clause BSD b

[2015-05-09 11:22] rgommers commented on #58
The Matlab source code doesn't seem too hard to convert to Python.

Regarding the contents of the package, it would be good if you could leave out or replace the Barbara image with another one (maybe ``scipy.misc.face``). See https://github.com/scipy/scipy/pull/4785 for why.

[2015-05-09 11:23] rgommers commented on #58
@stefanv the most important applications seem to be in image processing. How high is this on your wish list?

[2015-05-09 11:26] rgommers commented on #58
@lukepfister how do you plan to wrap the C code? And would it make sense to translate it to Cython for maintainability?

[2015-05-09 16:18] lukepfister commented on #58
@rgommers Minh was very interested in the idea of it eventually being added to Scipy, and he's aware that requires a BSD license.  I'll ask him and double check.

As for wrapping the C code, I'm not sure yet.  I need to get the source from him.  If he wrote a C package with a MEX wrapper, we could use ctypes or Cython to accomplish the same thing.  Or, as you suggest, do a complete translation int

[2015-05-09 17:01] rgommers commented on #58
If you go for a wrapper, Cython is preferable over ctypes I'd say. In Scipy there are a lot of older handwritten wrappers; newer code often uses Cython. ctypes is hardly used in the core Scipy stack.

Whether it makes sense to translate C to Cython or not depends on what the code looks like, and also on whether or not Minh is still maintaining the C code. If so, then of course it's easier to keep

[2015-05-09 17:38] stefanv commented on #58
Admittedly, this was not on my radar until I saw the issue
yesterday.  I went and had a look at the paper, and while it looks
interesting, the only example I've seen is for denoising.  It may
be worth asking the author for more examples, and including those
as part of the package.  Also, note that there are several
algorithms--each with their own restrictions.

[2015-05-10 15:50] rgommers commented on #54
@mrzv thanks for the bug report. I can reproduce this. Getting ``(36, 36) (35, 35)`` for ``bior3.3`` and ``(34, 34) (33, 33)`` for ``db2``. Results in:

    ValueError                                Traceback (most recent call last)
    <ipython-input-7-ac20e1df9d72> in <module>()
         11 coeffs['aa'] = pywt.idwtn(coeffs2, w)
         12 print coeffs['aa'].shape, coeffs['dd'].shape
    ---> 13

[2015-05-10 16:35] rgommers commented on #58
Looking into this some more, it would be good to define the scope of this package a bit better. There's a large amount of wavelet derivates/improvements out there. Roughly in order of how popular and widely applicable they seem to be:

- curvelets (https://en.wikipedia.org/wiki/Curvelet)
- contourlets (http://en.wikipedia.org/wiki/Contourlet)
- shearlets (http://en.wikipedia.org/wiki/Shearlet http

[2015-05-14 19:56] grlee77 commented on #58
I think contourlets would be a good addition.  I have seen them used mainly for image denoising or as a sparsifying transform in the context of compressed sensing image reconstruction algorithms for medical imaging (MRI and CT).

Along similar lines, I recently discovered that the Dual-Tree Complex Wavelet Transform toolbox has been ported to python (https://github.com/rjw57/dtcwt).  However, I do

[2015-05-15 13:21] kwohlfahrt commented on #54
Just a few thoughts:
- this also triggers for `Wavelet('haar')` if `data.shape == (62, 62)`, see below
- the length of the dwt depends on the mode
  - periodization `ceil(input_len / 2)`
  - else `floor((input_len + filter_len - 1) / 2)`

If the input to the rounding functions is not an exact integer, then information is lost about the size of the input data. `idwt2` uses the `correct_size` option

[2015-07-03 11:06] ThomasA commented on #57
It seems this feature is being worked on in #55 ?

[2015-07-04 22:23] rgommers opened #60 "Moving pywt forward faster"
@aaren @grlee @kwohlfahrt I've been trying to get back to moving ``pywt`` forward, but am having trouble spending enough time on it. I don't want to be a bottleneck here. You guys all have PRs open that look quite good, and you seem interested in the development (I also see some of you commenting on each other's PRs). So I'd like to propose the following:
- I give you commit rights for this repo
-

[2015-07-06 13:42] grlee77 commented on #60
@rgommers:

Thanks for the offer!  I am interested in contributing when I can.  I am trying to catch up on some publications/grant writing over the summer and probably won't have time to work on anything substantial for pywt, but I should be able to find some time to help review pull requests, etc.

[2015-07-08 09:43] aaren commented on #60
@rgommers - thanks for the invite :)

I'm finishing my thesis right now so don't have very much time available, except for cursory overviews. Should be over by the end of the summer though (I was hoping to be finished sooner and spend some summer working on wavelets...).

I suppose motivations matter here: mine is mostly a desire to get wavelets (continuous as well) into scipy. Working on pywt is

[2015-07-11 14:31] kwohlfahrt commented on #60
I'm also happy with the dev rules and would be happy to contribute any work I do on this. I'm happy with the scipy dev rules, they seem fairly reasonable. I don't have much experience working on team projects, so I'm happy to write/clean up code, but would very much appreciate people around to review it.

Regarding motivations, I'm not too fussed about scipy integration, and would prefer for pywt

[2015-07-11 22:03] rgommers commented on #60
Great! You all have merge/push rights for this repo now.

Regarding our motivations, they're not perfectly aligned but I can see them meshing together. I started the fork to get good DWT support in Scipy, however it's taking a while to get that done - so in the meantime I'm thinking about cutting a couple of releases of pywt as a standalone package. I got multiple requests for that already, and th

[2015-07-11 22:05] rgommers commented on #60
Regarding releases, a v0.3.0 which is backwards-compatible with the last release from @nigma but with Python 3 support would be a first one. Then a v0.4.0 and on with new features and API changes where needed. What do you think?

[2015-07-13 23:08] grlee77 opened #61 "issues to address in moving towards 0.3.0"
I opened this issue as a place for us to add/discuss issues to address for a future 0.3.0 release.

I took a quick look at a diff of current master and @nigma's pywt.  It looks like the majority of the code should already be backwards compatible (and it already works with Python 3).

Here are a few issues I think need to be addressed:
  - A copy of six was included as _tools/six.py.  It appears to

[2015-07-13 23:09] grlee77 commented on #60
That sounds good to me.  I have opened #61 to discuss issues for v0.3.0.  I would appreciate any feedback there on the items I brought up or on any other areas you think will need attention before a release.

[2015-07-14 21:28] kwohlfahrt commented on #61
- I would define `string_types` if it is necessary. On a quick check, it is only used to pre-screen inputs to `MODES.from_object`, and raises a `TypeError` if they are out of range or not stringy. `MODES.from_object` also checks whether they are in range, and `getattr` raises a `TypeError` anyway (python3 at least) if called with a non-string - unless Cython behaves differently I think this can be

[2015-07-16 19:17] grlee77 commented on #61
I agree on ``functools.partial``.
I haven't had a chance to review #59 yet, but will try to get to it this week.

[2015-07-22 20:10] rgommers commented on #61
I'd keep ``idwtn``. The v0.3.0 release should be fully backwards-compatible, but I don't see a reason not to add anything new. Removing it now and then re-adding it seems like effort that could be better spent elsewhere to me.

[2015-07-22 20:11] rgommers commented on #61
I've created v0.3.0 and v0.4.0 Milestones that we can tag issues and PRs with.

[2015-07-22 20:12] rgommers commented on #61
Agree on adding back the old names with ``functools.partial``.

[2015-07-22 20:14] rgommers commented on #61
@kwohlfahrt is there a good reason to want to merge gh-59 right before instead of right after tagging v0.3.0? If not, I'd prefer after in order to reduce the risk (it's the kind of large PR that potentially can introduce a regression).

[2015-07-22 20:54] kwohlfahrt commented on #61
I have some other stuff brewing on top of it that I would have then put towards the next release, and given that #59 doesn't change any internal or external interfaces I thought it would be OK to merge for a backwards compatible release.

That was it, if you think it's too risky then we can postpone it too.

[2015-07-22 21:05] kwohlfahrt commented on #61
Also having had a closer look, I'm going to disagree with everybody (including my past self). Given that `thresholding.threshold` is essentially a switch and the different modes share no code, I think it would make more sense to restore the individual functions, and then simply call out to them from the combined one. Will open a PR tomorrow.

[2015-07-24 19:23] grlee77 opened #71 "BUG: _pywt.downcoef always returns level=1 result"
``pywt._pywt.downcoef`` always returns the level=1 result regardless of the specified level.  I don't believe this is ever used with level>1 in the codebase, but if the option is provided it should work properly.

a fix will be submitted shortly

[2015-07-25 20:40] rgommers commented on #61
All issues discussed here are resolved, so how about tagging v0.3.0 tomorrow?

Regarding releases, I propose to just use the Github Releases feature (can add release notes and source code / binaries at https://github.com/rgommers/pywt/releases).

Furthermore we need something on PyPi. I'd like to just https://pypi.python.org/pypi/PyWavelets instead of a renamed fork (seems better for users), but t

[2015-07-25 20:48] rgommers commented on #61
Opened https://github.com/nigma/pywt/issues/13 for PyPi access.

[2015-07-25 20:50] rgommers commented on #61
At least one more thing to do before tagging the release: update the metadata in ``setup.py`` (author, download url, supported Python versions, etc.).

[2015-07-26 12:33] rgommers commented on #60
Okay, we're good here so closing this issue.

[2015-07-26 12:33] #60 closed

[2015-07-26 12:34] rgommers commented on #14
Build is so fast that this doesn't add too much at the moment - closing.

[2015-07-26 12:34] #14 closed

[2015-07-26 12:43] rgommers commented on #7
Coverage is up to 61%, which is not completely ridiculous anymore. It will further improve with regular maintenance work, so closing this issue.

Status of today:

    $ python -c "import pywt as s; s.test('full', coverage=True)"
    Running unit tests for pywt
    NumPy version 1.9.1
    NumPy is installed in /home/rgommers/.local/lib/python2.7/site-packages/numpy
    Python version 2.7.6 (defaul

[2015-07-26 12:43] #7 closed

[2015-07-26 13:24] rgommers commented on #58
Here's the link to the discussion about this topic on scipy-dev: http://thread.gmane.org/gmane.comp.python.scientific.devel/19661/focus=19675

Shared opinion seems to be +1 for adding contourlets.

Of the list above, curvelets, contourlets and ridgelets had users. Additionally, the dual-tree complex wavelet transform seems to be quite popular so is a good candidate to add.

[2015-07-26 13:39] #71 closed

[2015-07-26 15:36] kwohlfahrt opened #75 "Compiler support"
Which C compilers should we fully support? [Numpy](http://docs.scipy.org/doc/numpy/user/install.html) and [Scipy](http://www.scipy.org/scipylib/building/windows.html) both recommend GCC, and state other compilers are not supported, but this documentation appears dated (references to Python 2.4, which had it's final release 7 years ago).

I had a quick look at what the current packages look like in

[2015-07-26 18:47] rgommers commented on #75
@kwohlfahrt very good point, we should clearly document this and where possible improve the CI setup.

Numpy and Scipy definitely (have to) support multiple compilers; the documentation may be out of date in places. I'd suggest the following:

Windows:
- MSVC
- MinGW-w64 (https://github.com/numpy/numpy/wiki/Mingw-w64-faq)
- MinGW32 (https://github.com/numpy/numpy-vendor)

Linux:
- all GCC versions

[2015-07-26 18:48] rgommers commented on #75
Also I'd consider Cython a compiler, not a Python package/dependency. As long as things work for the latest stable Cython release then I'm happy.

[2015-07-26 18:49] rgommers commented on #75
Appveyor doesn't work well for numpy (fuzzy reasons) and scipy (no Fortran compiler), but may work for pywt. I'll give that a quick try - that would be low-maintenance MSVC CI.

[2015-07-26 19:26] kwohlfahrt commented on #54
Moving the discussion here from #67. This is a policy/interface question rather than an implementation question, so I think I'll leave it up to @rgommers.

- Should `idwtn` reject inputs that differ in length by one element, or should it silently truncate the longer one?
  - This mismatch is expected to occur in multilevel decomposition (? only)
  - If it should reject them, the `waverecn` functio

[2015-07-26 19:37] rgommers commented on #75
@kwohlfahrt dropping support for MSVC is unfortunately pretty much impossible. MinGW has its own share of issues; Anaconda and Enthought both use MSVC for their whole stack so it's the default compiler for a large part of the community.

Some background: part of the problem is when you throw Fortran code into the mix (like Scipy does). MSVC + Intel ifort + Intel MKL is a solid combination; MinGW g

[2015-07-27 13:39] kwohlfahrt commented on #75
Ah I see. I hadn't considered Anaconda & co, I've never used them. I have almost no experience developing for python in Windows, so I'll leave it in your hands. Having good test coverage on Windows would go a long way though, thanks for looking into it.

[2015-07-27 14:58] rgommers commented on #75
I prefer to compile the whole stack myself on Linux and OS X, but when I'm forced to use Windows then Anaconda is a lifesaver.

gh-76 is ready to merge I think and takes care of Windows test coverage.

[2015-07-27 19:44] rgommers commented on #61
This is all done, so closing.

[2015-07-27 19:44] #61 closed

[2015-07-27 20:19] rgommers commented on #54
@kwohlfahrt I haven't looked at this in a lot of detail, but my first impression is that I agree with you - better to be a bit strict rather than silently truncating which could lead to hard to find bugs in user code.

[2015-07-27 21:43] grlee77 opened #80 "improve handling of odd sized arrays in DWT/IDWT"
Currently if an input to `dwt` (or `dwt2` or `dwtn`) is odd in size, the resulting coefficient arrays do not reflect this and calling `idwt` on the coefficients produced will return an even sized image.

If the original odd image extent is extracted, the reconstruction is perfect as expected.

I am not certain of the proper solution, but I think maybe `dwt_buffer_length` should return different si

[2015-07-28 10:09] ThomasA opened #81 "Interface improvement: consistent return format between `swt` and `swt2`"
`swt` returns a list of coefficient tuples in descending order of wavelet level, while `swt2` returns its list of coefficient tuples in ascending order. This seems confusing and could easily lead to programming mistakes when for users of both functions.

I realise that changing the interface may be dangerous as well for reasons of backward compatibility.

[2015-07-28 12:03] rgommers commented on #81
There's also the asymmetry in the API: ``swt2`` has a positional argument ``level`` why for ``swt`` it's optional (``level=None``).

And that one is in Python and one is in Cython is weird.

[2015-07-28 12:05] rgommers commented on #81
Regarding the order, that's indeed confusing. It's a pretty bad backwards compat break, but I suspect that we'll want to make it. There are quite a few places where we'd like to break backwards compat in order to improve the API, and doing that sooner rather than later would be good.

[2015-07-28 12:05] rgommers commented on #81
Unfortunately there's no good way to make a gradual change with a deprecation warning here.

[2015-07-28 12:08] ThomasA commented on #81
How about retaining the existing version for a while, letting all calls
of the function raise a deprecation warning that the order of the
coefficients will change in a future version? That's certainly not
optimal, but at least it gives regular users a chance to notice what's
coming.

[2015-07-28 12:16] rgommers commented on #81
One release with a ``FutureWarning`` might indeed make sense. But we'll still have to make the change at some point, and the longer we wait the more users we accumulate (if things go as planned....).

[2015-07-28 12:18] rgommers commented on #81
It may be worth checking if this isn't the result of trying to match the Matlab output.

[2015-07-28 12:21] ThomasA commented on #81
+1

[2015-07-28 15:20] rgommers opened #82 "Moving to a Github org"
Hi all, I've just created https://github.com/PyWavelets. I suggest that we move my repo (including all issues and PRs) to that org now, and then advertise that in the v0.3.0 release notes. This works better than to keep developing in my personal fork.

It should work without any delay: https://help.github.com/articles/transferring-a-repository/#transferring-from-a-user-to-an-organization

[2015-07-28 15:21] rgommers commented on #82
I've added @nigma @aaren @grlee77 and @kwohlfahrt as owners on the organization - these are all the people who have put significant time into PyWavelets until this point.

[2015-07-28 15:24] rgommers commented on #82
I have also added a "core contributors" team there, to which we can add new developers who want to join and that we want to give commit rights. An org shouldn't have too many owners, since that level is not about commit rights but about control over the Github org itself (there's a button to delete the org or a repo - which is not reversible...).

[2015-07-28 15:35] rgommers commented on #82
The only thing to do for everyone after the repo is moved is to update their remotes. Typically this repo would be called ``upstream`` (and your own fork ``origin``). The fastest way to do this is ``$ vim .git/config``, then change ``rgommers`` in the below to ``PyWavelets``:

    [remote "upstream"]
            url = git@github.com:rgommers/pywt.git
            fetch = +refs/pull/*/head:refs/remo

[2015-07-28 16:09] grlee77 commented on #82
+1
Thanks @rgommers.  Seeing how everything comes together for the release has been a good learning experience.

[2015-07-28 18:55] rgommers commented on #82
@grlee77 that's always good to hear!

[2015-07-28 20:15] ThomasA commented on #81
It seems the corresponding functions in Matlab only handle one level at a time, so this ambiguity is not possible in Matlab:

    swt - Discrete stationary wavelet transform 1-D

    This MATLAB function computes the stationary wavelet decomposition of the signal
    X at level N, using 'wname'.

    SWC = swt(X,N,'wname')
    SWC = swt(X,N,Lo_D,Hi_D)

    See also dwt, wavedec

    swt2 - Discret

[2015-07-28 22:25] ThomasA commented on #81
It seems swt2 is the unconventional function here. wavedec and wavedec2 are consistent with each other and return coefficients in the same order as swt.

[2015-07-28 22:30] ThomasA commented on #81
level=None in swt is indeed weird. It obscures the fact that it actually defaults to the maximum possible number of levels further down in _swt while swt2 has no default value.

[2015-07-29 15:58] grlee77 commented on #81
@rgommers
Re:  "And that one is in Python and one is in Cython is weird"
``swt2`` just calls ``swt`` repeatedly via a python loop the same way that ``dwt2`` calls ``dwt`` repeatedly via a python loop.  I moved some loops out of the python code and into the cython side for ``dwtn`` and ``idwtn`` in #68.  I think a similar refactoring (likely just moving entirely into the cython side) could be done

[2015-07-29 16:11] grlee77 commented on #81
@ThomasA
I agree that swt2 is the one that would need to have the ordering changed to be consistent.  (i.e. after the change "coarser" resolutions should precede the "finer" ones in the output as in the wavedec2 case).  At least, I am certain that is the usual convention for storing the coefficients for the DWT.  I am less familiar with the expected behaviour in the undecimated case.

It seems tha

[2015-07-29 16:23] grlee77 opened #83 "faster 2D transforms"
As mentioned in #81, this is a reminder to at some point look into moving ``dwt2``, ``idwt2`` (and  ``swt2``, ``iswt2``) either entirely to the Cython side or to at least do the bulk of the looping there for speed.  This should provide faster 2D transforms in a manner analogous to the n-dimensional case implemented in #68.

I will not have time to work on this in the immediate future so if anyone

[2015-07-29 16:40] rgommers commented on #81
I think we should rename all Python files so they start with an underscore (i.e. ``_multidim, _multilevel``). Then we're also are free to move ``swt2`` to a more logical place.

[2015-07-29 16:49] grlee77 commented on #82
just a quick note that each of us have to accept the invitation from Ralf to join the PyWavelets organization.  I just did so (and updated my github profile to use two-factor authentication for security).

@rgommers:  Do you want to specify a specific time for the move?  It looks like after the move and the merging of #78, #79 and maybe #76 we should be ready for the 0.3.0 release.

[2015-07-29 16:53] rgommers commented on #82
Tonight maybe? I'd like to do the v0.3.0 release asap. Then we can move on to merging all the other open PRs and v0.4.0. FYI: I'll be completely offline from Aug 24th to mid-October. So I'm hoping to do v0.4.0 before Aug 24. Or you guys could do that one without me if we just miss that date.

[2015-07-29 17:23] grlee77 commented on #82
sounds good

[2015-07-29 17:25] grlee77 commented on #82
Aug 24 sounds like a good time for v0.4.0.  I will be out the first two weeks of September, but will otherwise be around.

[2015-07-29 17:25] ThomasA commented on #81
Are you working on refactoring iswt2? You should be aware that the currently proposed implementation of iswt2 does not work correctly. I am working on an alternative implementation in which I base it on repeatedly calling idwt2 similar to the way the currently proposed iswt calls idwt.

[2015-07-29 17:35] grlee77 commented on #81
No, I am not working on anything related to swt2 or iswt2 currently.  I did open issue #83 to remind me to take a look at some point in the future to speeding up the 2D transforms.

In regards to the renaming proposed by @rgommers, I did rename multilevel->_multilevel in #67 as it was suggested there.  However, now I see that @aaren has already implemented all of the proposed underscored name chan

[2015-07-29 18:10] ThomasA commented on #81
swt2 is also multidimensional like dwt2, but I agree that it may seem more natural to put it in multilevel, similarly to wavedec2.

[2015-07-29 18:20] rgommers commented on #82
Allright, pulled the trigger here. Nothing got lost in transit it looks like.

[2015-07-29 18:20] #82 closed

[2015-07-29 21:09] rgommers commented on #82
Even TravisCI magically gets updated once you move the repo!

[2015-07-30 11:41] ThomasA commented on #51
Have you checked how this behaves in Mtalab's `swt`? I am checking it right now, but I frankly don't understand Matlab's output structure and it does not seem very well documented.

[2015-07-30 12:06] ThomasA commented on #51
I have not figured out the format of the output coefficients from Matlab's `swt`, but at least I can see that if I do a 1-level `swt` of a vector and then add together the resulting approximation and detail output vectors, the sum does not equal the input vector either.

[2015-07-30 12:15] ThomasA commented on #57
I am starting to add some tests for `iswt` and `iswt2`. It seems that the existing tests for `swt` are in 'pywt/tests/test_multilevel.py' and there are no tests for `swt2`.
It seems pywt is not using `unittest` but relies on assertions to raise an error whenever something is not right - is this correct? So should I continue by adding tests for `iswt`, `iswt2`, and probably `swt2` to 'pywt/tests/te

[2015-07-30 12:17] ThomasA commented on #57
In #81 we have discussed moving `swt2` to 'multilevel.py'. Should I go ahead and place `iswt` and `iswt2` in 'multilevel.py' right away?

[2015-07-30 12:44] sciunto commented on #57
I would vote to follow the scipy guidelines for the tests suite. I'll make the job easier for a future integration. @rgommers can probably confirm this.

[2015-07-30 16:29] rgommers commented on #57
Putting them in ``multilevel.py`` now sounds fine to me.

[2015-07-30 16:32] rgommers commented on #57
Regarding the tests, they're based on ``nose`` and ``numpy.testing`` which is pretty much the standard for the scientific Python stack. ``nose`` is definitely much more flexible/powerful than plain ``unittest`` - the only other serious contender is ``py.test``.

The testing guidelines are at https://github.com/numpy/numpy/blob/master/doc/TESTS.rst.txt

So +1 for putting test cases in ``test_multil

[2015-07-30 16:33] rgommers commented on #57
No tests for ``swt2``: the test coverage is still lacking in places unfortunately. In 0.2.2 there were only doctests and now we're at 61% coverage, so it's going up nicely but more is needed.

[2015-07-30 16:43] rgommers commented on #82
All the redirects from rgommers/pywt to PyWavelets/pywt work well, so I'll wait a bit in re-forking to my personal account (because that should break those redirects). Will do that after the release announcement has been out for some days.

[2015-07-30 17:03] ThomasA commented on #57
I'll be happy to write tests for swt2 as well after I add some for iswt2 and iswt.

[2015-07-30 17:09] rgommers commented on #57
That would be great!

[2015-07-30 18:02] aaren commented on #57
Just leaving this here for reference as I've cut it from my #38 todo list. May or may not actually be useful.

- [ ] There are also iswt ([1][iswta], [2][iswtb], [3][iswtc]) and [iswt2] implementations posted on the
  PyWavelets mailing list.
    - [x] copy basic code from mailing list
    - [x] make basic implementation with simple test
    - [ ] do `swt` outputs need to be consistent with `dwt`?

[2015-07-30 18:10] aaren opened #85 "Include `wavedec_coeff_len` from nigma/pywt"
This is an open PR on nigma's repo: https://github.com/nigma/pywt/pull/4

Leaving this here to remove it from #55.

[2015-07-30 18:20] rgommers commented on #61
Tagged and sources on PyPi and https://github.com/PyWavelets/pywt/releases/tag/v0.3.0 now. Still want to produce some Windows wheels and put them on PyPi, after that send the release announcement.

[2015-07-30 19:24] ThomasA commented on #57
@aaren thanks for that. You mention license. Where do you see licensing info for the code on the mailing list? I don't think I came across it.
I am planning to use the `iswt` proposed on the mailing list, but the proposed `iswt2` does not work properly, so I have implemented it from scratch, basically doing what `iswt` does but with `idwt2`.
I should add that this is my approach because I need som

[2015-07-30 19:35] aaren commented on #57
Licensing: I couldn't find anything either.

iswt: Yes, I think get something working that is tested and then optimise later.

[2015-07-30 19:38] ThomasA commented on #57
Regarding licensing, maybe it is OK to just consider it approved for
inclusion in pywt by the original author as it was posted as a
suggestion on the pywt mailing list?

[2015-07-30 19:43] aaren commented on #57
That's what we thought. Could ask on the [list](https://groups.google.com/forum/#!msg/pywavelets/bNFdhb6D5r0/vAcprEgxzycJ) to be safe.

[2015-07-30 20:04] ThomasA commented on #57
Consider it done...

[2015-07-30 20:57] mgmarino commented on #57
@ThomasA, @aaren: @ThomasA just contacted me on the mailing list. Of course it's fine to use, thanks for pulling in the code.

[2015-07-30 21:20] ThomasA commented on #57
Great, thanks @mgmarino

[2015-07-30 21:23] sciunto opened #89 "The documentation on readthedoc is not up to date"
Compare for instance
https://pywavelets.readthedocs.org/en/latest/#contributing
and the source.

[2015-07-30 22:25] aaren commented on #57
@mgmarino that's great - thanks a lot :)

[2015-07-31 00:00] sciunto commented on #89
I just figured out that the doc is linked to the original project. Should we fork the doc? Otherwise, it's confusing.

[2015-07-31 05:25] rgommers commented on #89
The documentation link on PyPi is http://pythonhosted.org/PyWavelets/, which is already up-to-date. I have the rights to the ReadTheDocs repo and pointed it to this repo, so now I'll just have to convince it to rebuild.

[2015-07-31 05:36] rgommers commented on #89
It's rebuilding now.

[2015-07-31 05:38] rgommers commented on #89
http://pywavelets.readthedocs.org/en/latest/ is up-to-date now, v0.3.0 is rebuilding and will be updated in a few minutes. So closing. Thanks for noticing this @sciunto

[2015-07-31 05:38] #89 closed

[2015-07-31 07:13] cdeil opened #90 "PyWavelets vs. nigma Github repo"
I noticed that the "fork on Github" button at http://pywavelets.readthedocs.org/ still points to https://github.com/nigma/pywt

So I wanted to change it to point to https://github.com/PyWavelets/pywt and use Github search to find the location in the code / docs where this is set.

But code search in forked repos doesn't work: https://help.github.com/articles/searching-code/#search-by-the-number-of

[2015-07-31 08:45] jenshnielsen commented on #90
I have solved a number of similar issues by contacting github support, explain the situation and ask them to detach the repository from the original one.

[2015-07-31 09:02] aaren commented on #89
How did you trigger the rebuild?

[2015-07-31 09:17] aaren commented on #90
@cdeil good spot, thank you. Agreed, it's annoying that you can't search in forks!

[2015-07-31 14:57] kwohlfahrt commented on #80
This proposal looks good to me. It conflicts with current behaviour so it would be a breaking change, but I think this is useful enough to justify it.

[2015-07-31 14:58] kwohlfahrt commented on #57
Sorry, I'm a bit late to the discussion. I have a branch for a C convolution that would do the same as `up/downsampling_convolution` does for dwt, but it's based on top of #59. Hopefully I'll have #59 ready for merge this weekend now that we have Windows CI testing, and I'll open a PR for the swt part next week so you can have a look. Implementing swt on top of that in a similar manner as dwt shou

[2015-07-31 15:00] cdeil commented on #90
This issue was closed, but is only partly adressed.
I think what @jenshnielsen proposed, that you ask Github to detach this fork (or revert which is the fork) would be a good solution.

[2015-07-31 15:07] kwohlfahrt commented on #51
Yes, the current implementation requires convolving both coefficients again with the filter, and adding the two coefficients together and dividing by 2. The result will be circularly shifted by `2**(level-1)`, which is easy to correct for.

I have work on an `swt` branch that implements this behaviour, which matches MATLAB. It conflicts with R's behaviour, and I would very much like to know which

[2015-07-31 15:14] kwohlfahrt commented on #81
Sorry I've been unavailable the last few days. I am working on refactoring `swt`, and implementing `iswt`, and will open a PR once #59 is merged. Note #51 also needs clearing up before this can be added correctly.

[2015-07-31 15:20] aaren commented on #90
@cdeil sorry, I was overeager. I think I understand now - the problem is that the code in this repository is unsearchable in the browser (the links were a separate problem), right?

This is caused by this repo being a fork of nigma/pywt.

[2015-07-31 15:54] cdeil commented on #90
@aaren – Yes.

[2015-07-31 16:59] aaren commented on #89
I've added readthedocs to the repo [services](https://github.com/PyWavelets/pywt/settings/hooks) so that it rebuilds on commit.

[2015-07-31 17:17] grlee77 commented on #80
I am not certain if it is worth the trouble, but thought it was worth considering.  It is not high priority for me because the signals I work with tend to be even length anyways.

Also, FWIW, I just checked and the behavior we have now seems to match Matlab's dwt2, idwt2 behavior.  i.e. for odd size input, all the coefficient arrays are even size.

[2015-07-31 22:44] kwohlfahrt opened #94 "Appveyor builds"
Appveyor builds are triggering, but status is not shown on PRs. The appveyor URL still has `rgommers` in it, so I think this might have been missed in the move.

[2015-08-01 19:03] rgommers commented on #89
It apparently auto-rebuilds if something changes. But what was missing was the right build dependencies - pointing ReadTheDocs to ``util/appveyor/requirements.txt`` did the job.

[2015-08-01 19:04] rgommers commented on #89
Instant rebuilds - nice.

[2015-08-03 09:14] ThomasA opened #95 "Simplify Matlab tests"
Decorate the `check_accuracy` in 'test_matlab_compatibility.py' as "slow" and simplify it to test way fewer data sizes to speed up testing and optionally disable Matlab tests unless full test suite is requested. See #92.

[2015-08-03 10:54] aaren commented on #90
I've contacted github support.

[2015-08-03 14:01] aaren commented on #90
Ok, Pywavelets/pywt added to index and code is now searchable.

[2015-08-03 14:02] #90 closed

[2015-08-03 14:03] aaren commented on #90
Something else we could do: make PyWavelets the root repository so that future forks show up as forks of PyWavelets/pywt rather than nigma/pywt.

[2015-08-03 14:59] grlee77 commented on #58
Hi @lukepfister .  Now that we have released v0.30 and moved PyWavelets to its new [home](https://github.com/PyWavelets/pywt), we are starting to add new features and performance enhancements.  Are you still interested in helping to add Dr. Do's contourlets to the package?

As mentioned above, Cython would be the preferred way to wrap the underlying C implementation.  I have some prior experience

[2015-08-03 16:22] lukepfister commented on #58
I'd love to contribute!

It will probably be a few weeks before I'm able to, though-  I'm tied up
until the end of September.

I see there has been discussion on adding some of the other
multidimensional *lets to PyWavelets.  It would be good if we had some way
to standardize the interface to each of these.

Any thoughts?  Perhaps the first step would be to look at the existing
packages and see wh

[2015-08-03 20:20] rgommers commented on #95
Good idea to open a new issue to not lose track of this. We may want to keep the discussion on gh-92 though.

[2015-08-03 20:26] rgommers commented on #90
Nice quick resolution of this issue.

I think forks that are made from PyWavelets/pywt will anyway show up as forked from there, see https://github.com/PyWavelets/pywt/network and https://github.com/aaren/pywt for example. So I don't think it's a major issue that this repo says it's forked from @nigma's repo - because that is the actual history of the project.

[2015-08-03 20:31] cdeil commented on #90
It's still confusing to have the active repo shown as a fork.
Also https://github.com/nigma/pywt currently has 133 stars, but https://github.com/PyWavelets/pywt only 23, so I think Google (and Github?) search will point people there.

One other thing you could do is close the issue tracker on the old repo: https://github.com/nigma/pywt/issues
And close the PRs on the old repo (https://github.com/n

[2015-08-03 20:34] rgommers commented on #90
Good points. I can update https://github.com/nigma/pywt, so its README points here and I can close the issue tracker (assuming Github lets me do that without deleting the issue history).

[2015-08-03 20:36] cdeil commented on #48
I'd also be *very* interested in having CWT functionality available in `pywt`.

In Gammapy we had this as a contribution:
https://github.com/gammapy/gammapy/blob/master/gammapy/detect/cwt.py#L50
I know very little about wavelets, but I think the only application-specific things like what are significant coefficients could be factored out, and a more generic CWT function or class could be provided

[2015-08-03 21:14] aaren commented on #58
@lukepfister, regarding common interfaces - yes! I don't have any ideas just now but I think it could save us a lot of pain in the future if we at least give this some thought.

[2015-08-05 15:06] grlee77 opened #96 "handling complex dtypes"
This is a request for feedback on a potential enhancement to handle complex data for transforms provided by pywt.  Personally, I work with MRI images where the data is complex and both the image magnitude and phase are often of interest.

Currently one can perform complex transforms via separate calls on the real and imaginary parts, but this is a bit cumbersome:
[code]

Is this too niche a case t

[2015-08-05 15:36] grlee77 opened #97 "BUG: erroneous detail coefficients returned by downcoef with level > 1"
As pointed out by @jairongfu in #72, it seems that there is still a problem for ``downcoef`` with detail coefficients and level > 1.  Unfortunately, the tests i added in #72 only tested the approximation case!

example reproducing the problem:
[code]
The second ``assert_array_almost_equal`` call above fails, but the first passes.

[2015-08-05 15:47] grlee77 commented on #97
I found the bug and will submit a pull request shortly.  For the ``downcoef`` case, ``double_dec_a`` should be called up until the last level (when ``double_dec_d`` would be called).

[2015-08-05 17:54] kwohlfahrt commented on #96
I like this idea. I'd be happy to implement option 3, but suspect it might bite us on MSVC since it's a C99 thing. If you can compile something like the snippet below on MSVC 2008 let me know and I'll get cracking.

[code]

Otherwise I think option 2 is the way to go. I think it'll be reasonably quick to do on top of the n-dimensional bits.

[2015-08-05 20:58] grlee77 commented on #96
I don't have access to MSVC2008 at the moment, but I'm pretty certain that won't compile there.

numpy defines their own C89 compatible complex types such as the following:

[code]

[2015-08-05 21:00] grlee77 commented on #96
actually, the code I pasted above is commented out in numpy and it always uses
[code]

[2015-08-05 21:15] kwohlfahrt commented on #96
Ah. I would go for option 2 then. As I understand it, adding this using C99 data types is simple, since we can just add another type to the .src expansion and it should just work. Adding it with a special struct data type is not, because there isn't a multiplication operator defined for them, so we'd have to duplicate all of the functions and add a `output[o].real = filter[j] * input[i].real; outp

[2015-08-06 06:40] rgommers opened #101 "Add some images that can be loaded via the public API"
We now have one image in the repo: ``demo/data/aero.png``. We can't use that in docstring examples however, because it's not importable. Nicer docstring examples instead of just the return values of some random numbers would be very good to have.
We could easily add ``scipy.misc.face`` and ``scipy.misc.ascent`` next to ``aero``.

[2015-08-06 13:41] kwohlfahrt commented on #94
@rgommers Thread [here](http://help.appveyor.com/discussions/problems/142-unable-to-create-a-project-from-github-org-account) suggests you might have to re-authorize Appveyor for org repos to work correctly. Sorry if you've done that already.

[2015-08-06 19:28] grlee77 commented on #101
``skimage/data/camera.png`` from scikit-image is another possibility.

[2015-08-06 20:36] rgommers commented on #58
A common interface would be great. I've had a look again at the Matlab code of the Contourlet Toolbox and the function inputs/outputs aren't that bad. The function names are horrible though.

What could be helpful is to only take the public API that would be exposed in a direct translation to Python (changing function names to readable ones) and put that in a Gist or a WIP PR.

[2015-08-06 23:15] grlee77 commented on #96
apparently there are still issues with C99 complex even in recent MSVC compilers, so I guess option 3 is out for now. e.g.:
https://github.com/numpy/numpy/pull/6171
https://github.com/numpy/numpy/issues/4896

a version of option 2 above is in PR #99

[2015-08-07 15:04] kwohlfahrt opened #103 "Indexing the result of multilevel & multidimensional transforms"
There have been a few proposals for alternative representations for the output of a transform in #93, and I think this needs some more discussion. It gets rapidly complex, when for example wavelet packet transforms are used.

The following are some examples of weird cases that might need to be accessed:
- Transform that is approximate in the first dimension, detail in the second
- Transform that i

[2015-08-07 15:08] kwohlfahrt commented on #75
OK, so current status is GCC 4.4, Clang (version?), and MSVC 2008? And we have integration tests for GCC and MSVC.

We could add clang to Travis CI, and then close this?

[2015-08-07 15:38] grlee77 commented on #103
I am +1 on @aaren's ``TransformResult.array`` method.  I am not sure having a class is of much utility for a simple 1D DWT, but I guess if we go that route for the 2D or nD functions it may make sense to just have all functions return a TransformResult for consistency.

@ThomasA
I also have utility functions to convert to and from the array format, but mine is currently configured for the coeffici

[2015-08-07 15:59] grlee77 commented on #75
I don't know much about clang, but it looks like version 1.0 was as recent as Oct 2009.  As far as I can tell it has always had C99 support and currently has C11 as the default.

[2015-08-09 20:28] rgommers commented on #103
I'm not quite sure that I see the problem with these examples. If you know that that's how your transform behaves, you can create the proper output class to put the approximation coefficients for both levels in an ``approx`` attribute right?

[2015-08-09 23:50] kwohlfahrt commented on #103
I don't see how an `approx` attribute will work for the multidimensional case. To specify the transform, it needs to know whether it is approximate or detail in every dimension, since each dimension is independent. Then that needs to happen at every level. So if I have the transform of a 2D signal, does an `approx` attribute refer to something that's approximate in the first dimension, the second,

[2015-08-10 00:37] grlee77 opened #108 "handling level=0 in waverec/wavedec functions"
I found an inconsistency in all `wavedec` functions relative to their `waverec` counterparts.  If the signal is too small for the chosen wavelet, `level` will be set to 0 in `wavedec` and a length 1 `coeffs_list` containing only the original data will be returned.  If this is then passed in to `waverec`, an error will occur, because it only allows coefficient lists of length >= 2.

There are two p

[2015-08-10 01:05] grlee77 commented on #103
I think the TransformResult object should also have a copy of the original shape prior to the transformation.  This way problems like the example below could be automatically fixed by truncation to the original shape.

example of current behaviour:
[code]
output:
``a_roundtrip = array([ 0.  1.  2.  3.  4.  5.  6.  6.])``  (duplicate last element)

[2015-08-10 14:00] kwohlfahrt commented on #80
Hm. I've had a quick look, dealing with the edge length functions is no problem. However, the last component(s?) of the approximation coefficients must be adjusted for the fact that the corresponding detail is missing. See below for an example, `db3` with `MODE_PERIODIZATION`, the last `F/2` reconstructed values are incorrect. For other modes, only the last reconstructed value is incorrect.

I thi

[2015-08-10 16:59] grlee77 commented on #80
I don't know that I will be able to take a look this week.  I don't have a lot of familiarity with that standard, but came across the example there when looking for info on dealing with odd-sized arrays.

[2015-08-11 11:01] kwohlfahrt commented on #80
Right, the idea proposed [here](http://www.getreuer.info/home/waveletcdf97) is that the signal must be extrapolated so the detail coefficient of the last element would be 0. This should be possible for all of the wavelets, but he uses the CDF9/7, which is the same used by the JPEG2000 standard, so might rely on some special properties of that wavelet.

[2015-08-11 13:28] kwohlfahrt commented on #80
OK, seems to be doable. However, the question is whether we want to do this, since it adds an arbitrary edge extension to odd-length coefficients that doesn't really fit in with any of the other schemas. I don't really think there should be any objections to doing it with `MODE_PERIODIZATION`, since that already has a constant-edge padding thrown in, but I'm not so sure about the others since they

[2015-08-13 18:15] grlee77 commented on #95
addressed by #100 .

The new default is to run the tests using precomputed results at a reduced set of sizes.  The previous extended set of sizes is only tested if the PYWT_XSLOW environment variable is set.

[2015-08-13 18:15] #95 closed

[2015-08-13 19:09] rgommers commented on #46
This is now addressed by easier testing against the results from Matlab, which are now also stored in the repo. See gh-100.

[2015-08-13 19:09] #46 closed

[2015-08-13 20:19] rgommers commented on #94
Thanks @kwohlfahrt, I've tried this now. The problem is that by now I find it hard to reproduce what I have done before on Appveyor, because there are settings in three places: on ci.appveyor.com, in the webhooks of this repo, and in ``appveyor.yml``.

[2015-08-13 20:19] rgommers commented on #94
Let's see if it's reporting the status for the next PR. It's smart enough to not rebuild on close/reopen of a PR apparently.

[2015-08-13 20:30] rgommers opened #110 "sharing PyPi & ReadTheDocs access rights"
Hi @grlee77 @aaren @kwohlfahrt, I'll be offline for a month and a half from the 21st on. So I'd like to give some or all of you access to PyPi and ReadTheDocs for this project. If you tell me your username for those sites then I'll do that.

[2015-08-13 20:37] rgommers commented on #75
I'm not sure how much it helps to add Clang on Linux, because that'll be quite different from OS X. The issues on OS X are usually related to where MacPorts/Homebrew hide their headers, Accelerate issues (not applicable for pywt), etc.

It doesn't hurt either though, so if there's an easy recipe to steal to test with Clang on TravisCI then why not.

[2015-08-13 20:38] rgommers commented on #75
I use Clang on OS X regularly by the way. And since an OS X buildbot will be a massive pain, I would suggest to close this issue by simply documenting the supported compilers and testing Clang once in a while (especially before a release).

[2015-08-13 21:40] aaren commented on #110
I'm `aaren` on both pypi and readthedocs.

[2015-08-13 23:37] grlee77 commented on #110
I'm ``grlee77`` on both.  (just created the ReadTheDocs one)

[2015-08-14 09:39] kwohlfahrt commented on #110
`kwohlfahrt` on both, just registered.

[2015-08-14 17:17] rgommers commented on #110
Thanks, you all have access on both sites now.

[2015-08-14 17:17] #110 closed

[2015-08-14 18:02] aaren opened #111 "Failing tests across all builds due to complex"
master branch is failing tests.

I noticed this when building #55 but it seems to apply on master as well. Probably something to do with #99 being merged, although that was rebased prior to merge and the tests were all passing.

@grlee77 @kwohlfahrt any ideas?

[2015-08-14 18:47] kwohlfahrt commented on #111
`dwtn` and `idwtn` don't seem to respect complex data types. I think this is because the changes in #99 modified `upcoef` and `downcoef`, but as of #104 these are no longer used by `dwtn`/`idwtn`. Perhaps #99 was not rebased onto this prior to merge?

[2015-08-14 19:06] aaren commented on #111
I see now. I got trigger happy with merging and should have waited to merge #99 before I merged #104. @grlee77 did rebase #99, but I merged #104 *after* he did that, leading to this problem.

[2015-08-14 19:10] grlee77 commented on #111
should I submit a quick PR to fix complex for dwtn and idwtn based on current master then?

[2015-08-14 19:19] aaren commented on #111
yes please!

[2015-08-14 19:26] kwohlfahrt commented on #111
Sorry, should've said I'd picked this up.

[2015-08-14 19:30] grlee77 commented on #111
@kwohlfahrt.  no worries.  thanks for taking the initiative

[2015-08-14 19:36] kwohlfahrt commented on #94
No luck on #112

[2015-08-14 19:52] #111 closed

[2015-08-14 19:55] aaren commented on #111
Thanks both for quick response. I've learned a lesson about merging.

[2015-08-15 19:48] rgommers commented on #94
I'm playing with this some more now.

[2015-08-15 21:08] rgommers commented on #110
I've also created https://ci.appveyor.com/project/PyWavelets/pywt and removed the config on my personal Appveyor account. If you register on www.appveyor.com I can add you as a collaborator (need the email address you registered with for that, not your username).

[2015-08-15 21:12] rgommers commented on #94
It still refuses to report anything, no idea why. I set up everything the same as for rgommers/pywt, on which it is working.

It is building though: https://ci.appveyor.com/project/PyWavelets/pywt/build/1.0.2

[2015-08-15 21:54] rgommers commented on #90
@nigma had already updated the README on https://github.com/nigma/pywt, it now points prominently to this repo

[2015-08-15 21:59] rgommers commented on #85
The code from the PR, just in case that PRs on that repo won't be accessible in the future (we may close them completely if people keep sending PRs there instead of here):

    def wavedec_coeff_len(data_len, filter_len, mode, level=None):
        """
        Total number of coefficients in the output of `wavedec`, given data
        length, filter length, mode and level.
        Returns integer:

[2015-08-15 22:00] rgommers commented on #85
PR author is @belevtsoff

[2015-08-15 22:08] rgommers opened #114 "feature request: discrete wavelet variance estimation"
Originally requested on https://github.com/nigma/pywt/issues/8 by @fairymane :

Hi,
I am trying to implement some wavelet analysis in Python for some R code wrote previously.

One function used in earlier R version code is discrete wavelet variance estimation ( 'wmtsa', page69,http://cran.r-project.org/web/packages/wmtsa/wmtsa.pdf). But I couldn't find equivalent function to implement in pywt pack

[2015-08-15 22:08] rgommers commented on #114
And my comment:

The DWT based version might not be too hard to implement, but the R default is based on MODWT which is not present in PyWavelets. So that likely won't materialize any time soon. @fairymane do you have an idea about the performance difference between DWT and MODWT, and would DWT-based variance estimation be of use to you?

[2015-08-15 22:11] rgommers commented on #90
All PRs on https://github.com/nigma/pywt are closed, and I've only left a single issue open (https://github.com/nigma/pywt/issues/13) which is titled "Continuing PyWavelets development on PyPi" and still needs resolving.

[2015-08-16 07:03] aaren commented on #110
Have signed up to appveyor, using github. Didn't put an email in but presume it is same as my commit email.

[2015-08-16 07:06] rgommers commented on #110
Yep, that works - you're in @aaren

[2015-08-16 09:32] aaren opened #115 "enhancement: axis argument to transforms"
At present, transforms can only be performed on arrays of the corresponding dimensionality. It would be useful to introduce an `axis` argument to allow the transform to be computed over arbitrary array dimensions, e.g.

[code]

This can be trivially implemented for `dwt` by using `pywt._pywt.dwt_axis` (introduced in #104), but will require some thought for higher dimensions.

The API would be the

[2015-08-16 10:32] rgommers commented on #115
Makes sense to me.

[2015-08-17 05:25] belevtsoff commented on #85
Wow,  thanks for resurrecting this, it's been 3 years :)

[2015-08-17 19:54] rgommers commented on #85
time flies:)

[2015-08-20 13:34] aaren commented on #94
Tried changing content-type to `application/x-www-form-urlencoded` in the webhook settings, but this didn't make any difference when I modified #116. Tried both close/open and new commit - both triggered builds, but neither show up in the pr status.

[2015-08-20 13:44] aaren commented on #94
The Appveyor response to the POST is unchanged - remains as 204.

[2015-08-20 14:13] aaren commented on #94
Also tried the above in the organisation level webhooks, but no change.

It is confusing that there are Appveyor webhook settings on both the org and the repo.

[2015-09-02 18:06] kwohlfahrt commented on #51
R uses a 'MODWT' transform, whereas MATLAB uses the "algorithme à trous" to perform shift-invariant transforms. The difference is in how the 'stretched' wavelet filters are calculated.

MATLAB uses something like this, with `j` being the level, and `g` the approximation filter. The detail filter `h` is calculated in the same way.
[code]

MODWT uses different filters (let's say `g'` and `h'` for ap

[2015-09-02 18:17] kwohlfahrt commented on #51
Note that the MODWT filters should allow one to directly compute the `j`th level DWT (with appropriate downsampling). It doesn't actually reduce the number of operations (the filter is `2**j` times longer) but removes the need to allocate scratch space for each level of the transform and *probably* is cache-friendlier since there is only one pass over the input.

[2015-09-25 02:52] drew-wallace opened #118 "Add db40 to wave list"
I'm doing some experiments and need this wave. Can this be done?

[2015-09-25 08:35] aaren opened #119 "pypi package hosting"
Received an email about hosting packages off PyPI. Needs addressing within 3 months.

In particular, we have a link to https://github.com/nigma/pywt/tarball/develop#egg=PyWavelets-dev that will no longer work.

[2015-09-25 11:11] kwohlfahrt commented on #118
The coefficients are not built in (only up to 'db20' iirc), but you can create your own wavelet using `pywt.Wavelet(name, filter_bank=[dec_lo, dec_hi, rec_lo, rec_hi])`, where the dec/rec are the deconstruction and reconstruction coefficients, and lo/hi are the approximation and detail coefficients respectively.

I'm not aware of any plans to extend the builtin filters all the way up to db40, but

[2015-09-25 14:35] drew-wallace commented on #118
I found the coefficients for db2-99 here: https://github.com/fukuroder/daubechies_wavelet_coefficients/tree/master/coefficients. I did a spot check for db20 and they match (in reverse order). I may just add it into the code myself.

[2015-09-26 14:37] aaren commented on #51
closes #57.

[2015-09-26 14:38] aaren commented on #51
sorry, wrong thread! have deleted the message.

[2015-10-09 12:10] kwohlfahrt commented on #118
Sorry for the delay, but after a quick look it seems that a built-in solver would be necessary to allow arbitrary wavelets, which is a little beyond the scope of the project. Given that custom filter banks are possible, I don't think adding more is a priority unless there is a lot of demand for wavelets beyond 'db20'.

[2015-10-09 12:17] rgommers commented on #119
I have removed the URL from the list of URLs on PyPi, and switched the mode to "only download from PyPi itself".

[2015-10-09 12:17] #119 closed

[2015-11-05 17:51] kwohlfahrt commented on #94
It looks like every test is run twice now. I think this might be because the webhook is set in both the [organization](https://github.com/organizations/PyWavelets/settings/hooks) and [repository](https://github.com/PyWavelets/pywt/settings/hooks).

[2015-11-06 20:30] aaren opened #126 "cythonizing the C source"
Is there a reason why the C source code couldn't be cythonized? Would this remove the need for the current templating mechanism?

Aside from the work needed would it be otherwise desirable to do this?

[2015-11-06 23:12] rgommers commented on #94
The repo webhook is the right one to keep I think, so removed the org one.

[2015-11-06 23:20] rgommers commented on #126
I think @kwohlfahrt still has plans to reuse the C code standalone (i.e. not from Python). So it probably matters to him.

[2015-11-06 23:20] rgommers commented on #126
I'm not too bothered by the templating, but Cython fused types would be nicer.

[2015-11-09 10:01] kwohlfahrt commented on #126
In addition to what @rgommers said, there are more tools around to help optimize C code - clang's `-Rpass=missed-loop-vectorize` and the like. Cython's C code isn't very readable so the information there is generally not as useful.

Also (I know numpy is against this, so it would be done only on the condition it doesn't affect single-threaded performance or compatibility), OpenMP is maturing in GC

[2015-11-09 19:33] rgommers commented on #126
I don't know much about OpenMP, but if it can be optionally enabled in the build and it's important to you, then I don't see a problem adding it here. In this package we can be much less strict than in numpy/scipy I think.

[2015-11-10 10:40] kwohlfahrt commented on #126
Awesome. A lot of the loops are very straightforward, so we can just use `#pragma omp parallel for` to parallelize them. This should be ignored by any compiler that doesn't know about OpenMP (and it is on GCC/clang if it's not enabled).

[2015-11-11 17:17] kwohlfahrt commented on #126
As a different avenue, how about using [Halide](http://www.halide-lang.org)? It seems to be made for exactly this kind of thing, is cross-platform, has python bindings and supports GPU/CPU computing. I haven't ever used it but intend to play with it in the next few months for other work-related tasks, so will report back unless there are any objections.

[2015-11-11 18:31] aaren commented on #126
@rgommers could say more but I don't think that will work for integrating into scipy. Would at least require a lot of discussion on the scipy end as it adds a dependency, whereas the existing code can go in without much bother.

[2015-11-17 15:08] kwohlfahrt commented on #57
This is closed by #93

[2015-11-17 15:08] #57 closed

[2015-11-19 18:36] kwohlfahrt opened #127 "Reorganize _pywt"
In my opinion, the size of `_pywt.pyx` has gotten a bit out of hand (basically I'm having trouble finding things). I propose to split it up into smaller files, with the following organization:

[code]

This would also move most of the non-typed bits into pure python. I could keep them in Cython, but they're almost valid python as-is and there are no loops or other heavy bits in them.

Any thoughts

[2015-11-19 21:24] grlee77 commented on #126
@rgommers :  OpenMP can indeed by optionally enabled during build time.

I am familiar with the [dipy](https://github.com/nipy/dipy) package which basically does a simple compilation test in setup.py that determines whether OpenMP flags get enabled or not.

See here for the specifics:
https://github.com/nipy/dipy/blob/7f73773b3048ae40ccfaa79e2fce343fb2476a82/setup.py#L138-L145

A similar compilati

[2015-11-20 16:01] grlee77 commented on #127
I am +1 on this.  I think it makes it a bit easier to find things and would also reduce the size of the cython-generated C code.

one minor point:
In #38, @aaren renamed the modules `multidim.py` to `_multidim.py`, etc, so I would follow that convention with `dwt.py`->`_dwt.py` and `swt.py`->`_swt.py`.

[2015-11-20 16:28] grlee77 opened #128 "planning for v0.4.0 release"
It looks like we have a nice set of additions that could make up a new release in the near future, although there are a few outstanding PRs that would be nice to have.  Any objections to planning a v0.4 release prior to the end of the year?

Here is a summary of the key things that have been completed since v0.3.  Let me know if I missed anything.

PRs already merged:
--------------------------
**

[2015-11-20 16:38] grlee77 commented on #118
If you think there is a particular wavelet that would be of widespread general interest feel free to make a case for it and we may include it in a future release.  Otherwise, you can follow the instructions above to use your own custom wavelet coefficients.

[2015-11-20 16:38] #118 closed

[2015-11-21 15:04] rgommers commented on #127
+1 on both splitting up the Cython code and on adding underscores.

[2015-11-22 09:54] rgommers commented on #128
@grlee77 good idea, it's time for that.

Should be pretty straightforward to get this one out the door. No beta or RC needed I'd think, however one to two weeks before the planned release we should probably ask on the mailing list that people test current master against their own code.

The above list is a good outline for the release notes.

[2015-11-22 09:55] rgommers commented on #128
@grlee77 are you interested to be the release manager for this one?

[2015-11-22 09:57] rgommers commented on #128
Would be good to get all PRs that are (almost) ready merged in time. The breakup of ``_pywt`` above isn't urgent for 0.4.0, but the other ones listed above are all very nice to have.

[2015-11-22 10:01] rgommers commented on #97
Fixed in gh-98.

[2015-11-22 10:01] #97 closed

[2015-11-22 18:14] aaren commented on #128
Sounds good to me.

I can rebase #55 (api cleanup) this week - it should then be good to merge.

I can finish #116 (dwt axis arg) easily if #125 is merged. #120 (dwtn axis arg) is more tricky though.

[2015-11-22 18:17] aaren commented on #127
+1. I'd like to get #55 in first though to avoid possibly messy rebasing (should be in the next week).

[2015-11-22 19:46] rgommers commented on #126
Never heard of it, but looks interesting. I'm afraid trying to use it for production code at this point in time is going to be very painful though. For one, platform support is poor ("expect rough edges with the Windows version", unclear if support for anything but Linux/OSX/Windows). It's also a fairly heavy dependency it looks like.

[2015-11-22 20:08] rgommers commented on #126
Regarding OpenMP, we do need to document in release notes and other places we can think of that it's used if detected, how it can be disabled in the build, and that it breaks ``multiprocessing`` (see https://github.com/numpy/numpy/issues/5752#issuecomment-90752612).

[2015-11-23 11:59] kwohlfahrt commented on #127
@grlee77 I think that would clash with imports for the cython modules, wouldn't it?

- `pywt/src/_dwt.pyx` -> `build/lib.xyz/pywt/_dwt.cpython-xyzm.so`
- `pywt/_dwt.py` -> `build/lib.xyz/pywt/_dwt.py`

[2015-11-23 12:05] kwohlfahrt commented on #126
Oof, did not realize that clashed. Thanks for the heads up, will try and pin down exactly what situations break.

[2015-11-23 15:39] grlee77 commented on #127
right.  perhaps rename `_dwt.pyx` to something like `_dwt_cy.pyx`.  There are a few places in `skimage` where that convention is used, but I don't know if it is a common one.

[2015-11-23 15:44] grlee77 commented on #128
@rgommers
I volunteer to be release manager, but since it will be my first time, I will likely need some help along the way.

[2015-11-23 18:39] rgommers commented on #128
@grlee77 cool. I'll help out where needed.

[2015-11-24 11:00] kwohlfahrt commented on #127
What is the reasoning behind the rename to `_multidim.py`? I don't quite understand so perhaps that'll help me figure out what to do.

[2015-11-24 11:42] aaren commented on #127
`multidim` -> `_multidim` is because the contents are not necessarily public API - this is indicated by the preceding `_`. API access is defined in `__init__.py`.

[2015-11-24 15:40] #19 closed

[2015-11-24 21:38] kwohlfahrt commented on #127
I see. I think I'll put everything compiled in a sub-module (`_extensions`) for now. It might be time to think about organizing the namespace as a whole.

It would make sense to have some partitioning by transform (e.g. `dwt`, `swt`, `modwt`), and perhaps in each have a `multilevel` and `multidim` file? But I'm not sure how things that are both multilevel and multidimensional would fit into that.

[2015-11-24 22:24] rgommers commented on #127
Keep in mind "flat is better than nested". Right now there are about ~50 objects in the ``pywt`` namespace. Partitioning that up isn't really needed I think. Maybe when we add new types of transforms though, like the curvelets that were proposed a while ago, those should get their own submodule.

[2015-11-24 23:18] kwohlfahrt commented on #127
Fair enough. I like my functions organized into lots of small modules, so I'll leave the organization up to you guys.

[2015-11-25 10:04] aaren commented on #38
Closed by #55.

[2015-11-25 10:04] #38 closed

[2015-12-04 22:24] grlee77 commented on #94
This has now been fixed (see #133).

[2015-12-04 22:24] #94 closed

[2015-12-04 23:59] grlee77 commented on #128
Hi @rgommers
I started drafting the v0.4.0 release notes based on the features listed above.  Is there a script somewhere that autogenerates the author lists and the lists of issues and PRs closed as in the previous `0.3.0-notes.rst`?

[2015-12-08 00:54] rgommers commented on #128
Yes, use ``$ python util/authors.py v0.3.0..HEAD`` and ``$ python util/gh_lists.py v0.4.0``.

[2015-12-08 14:20] kwohlfahrt opened #136 "Profiling suite - requirements?"
I'm planning to add a profiling module, to make it easier to see how changes to the core affect the performance. I'd like some feedback about what kind of transforms, wavelet lengths and image dimensions (size, dimensionality, power-of-two-ness, etc) are commonly used.

I'm processing 2D and 3D signals with `dwtn` and `swtn`, `db1-4` wavelets, about 100-300 pixels a side.

[2015-12-08 21:46] rgommers commented on #136
Do you mean profiling, as in https://github.com/rkern/line_profiler? Or benchmarks? Your description suggests the latter. If so, an ASV benchmark suite would be really nice to have. See https://pv.github.io/scipy-bench/ for how that looks for scipy. Such benchmarks are really easy to write, so doing lots of image sizes shouldn't be a problem. I'd expect that sizes relevant for image processing are

[2015-12-08 22:31] kwohlfahrt commented on #136
Yes, benchmarks is the right word. I've changed the title.

[2015-12-09 23:44] grlee77 commented on #128
i think we should try to get #116, #130 and #67 merged prior to tagging v0.4.0.
Does Friday, Dec 18 sound reasonable for this?  I think they are all almost there.

We can then notify the mailing list to let people test for a bit before making a release by the end of the month.

[2015-12-09 23:59] rgommers commented on #128
That makes sense to me. And pinging the mailing list sounds like a good idea.

[2015-12-15 21:25] DSLituiev opened #140 "demo/dwt_signal_decomposition.py : TypeError: object of type 'NoneType' has no len()"
Running `demo/dwt_signal_decomposition.py` returns:

[code]

using freshly cloned repo from github

[2015-12-15 21:34] DSLituiev opened #141 "Documentation needs update: ImportError: cannot import name 'multilevel'"
From documentation of `waverec`:
[code]

Typing: `from pywt import multilevel` returns ` ImportError: cannot import name 'multilevel'`.

[2015-12-16 06:55] grlee77 commented on #141
Thanks for letting us know.  I will submit a PR to fix this.

We recently renamed `multilevel` to `_multilevel`.  We now recommend importing these functions directly from the  top level `pywt` namespace instead.
e.g.
[code]

[2015-12-16 08:45] grlee77 commented on #140
This seems to be a bug in `waverec`.  It is no longer handling cases where some of the coefficients are None.   #143 is a proposed fix for this

[2015-12-16 18:26] #140 closed

[2015-12-16 18:26] grlee77 commented on #140
This was resolved in #143

[2015-12-16 18:27] grlee77 commented on #141
This was resolved in #142

[2015-12-16 18:27] #141 closed

[2015-12-16 19:07] aaren commented on #115
Closed by #116 and #130.

[2015-12-16 19:07] #115 closed

[2015-12-16 19:09] aaren commented on #126
Closing for now. Looks like we'll stick with C.

[2015-12-16 19:09] #126 closed

[2015-12-16 20:32] aaren commented on #128
I've submitted a fix to #101 in #144 (making demo images importable). Might want to include it in the release.

[2015-12-16 21:27] grlee77 commented on #83
This issue was resolved in #129, by having `idwt2` and `dwt2` call the fast n-dimensional transforms implemented in #104

[2015-12-16 21:27] #83 closed

[2015-12-16 21:30] grlee77 commented on #96
This was resolved by #99

[2015-12-16 21:30] #96 closed

[2015-12-16 21:36] grlee77 commented on #75
@kwohlfahrt
Can you check/update the compiler information in `doc/source/dev/preparing_windows_build_environment.rst` and `README.rst`?

[2015-12-17 16:28] kwohlfahrt commented on #75
I don't think anything was incorrect, but I've filled in information for newer python binaries in #145

[2015-12-17 18:45] grlee77 commented on #128
Thanks for all the recent work everyone!

I will plan to merge the last few v0.4.0 PRs tomorrow and then notify the mailing list to give some time for additional testing.

[2015-12-17 18:54] aaren commented on #128
I've just submitted a small PR to you to add to this. The introduction was reading weirdly for me.

[2015-12-18 15:42] grlee77 commented on #128
In drafting the email to the mailing list, I wanted to give a planned date for the release.  Are there any objections to Dec 28?  That would provide 10 days for testing.

[2015-12-18 16:00] aaren commented on #128
Several of those days are holiday but yes I think that is fine.

[2015-12-18 19:01] #101 closed

[2015-12-19 21:01] grlee77 commented on #128
Did any of you receive a post by me from the mailing list?  I tried posting a notice about testing the upcoming release both yesterday and today, but do not see either showing up.  I can retry via email rather than using the "New Topic" button on the google groups page, but I don't want to spam the list if it was already sent.

[2015-12-19 21:19] rgommers commented on #128
I didn't receive anything. It should also show up on the google groups web interface if it came through.

[2015-12-19 22:57] grlee77 commented on #128
Hmm...  Frustrating.   I tried again, but via direct email from my gmail account rather than through the web interface.  I still don't see anything.  If you wouldn't mind, can you posting the message for me?  I wonder if it is too long and/or getting blocked as spam somehow?  I don't get an error message or anything, it just doesn't seem to show up.

Here is what I tried to send to pywavelets@goog

[2015-12-20 11:19] rgommers commented on #128
Sent, showed up straight away. You're visible on the member list, so that's not the problem. Maybe you signed up with a different email address than you use now?

[2015-12-28 16:27] grlee77 commented on #128
@rgommers , @kwohlfahrt , @aaren
I sent an email to Ralph with a few questions regarding release procedures, but perhaps it is easier to just ask here.

I think I know how to update `setup.py`, tag the release and upload the source distributions to PyPI, but have still have a couple of questions:

1.) how do the wheels get built and transferred to PyPI?
2.) Is there a script that uploads the HTML

[2015-12-28 18:42] grlee77 commented on #128
just a quick note that the issue with me posting to the google groups should be sorted out now.  My messages were awaiting moderation, but now @nigma has added me (and @rgommers) as owners of the group.

[2015-12-28 21:06] rgommers commented on #128
Appveyor builds the wheels for each PR, so if you modify ``setup.py`` via a PR then all you have to do is grab those wheels and upload them to PyPi. Wheels are stored under the "Artifacts" tab (example: https://ci.appveyor.com/project/PyWavelets/pywt/build/1.0.138/job/hhb9h644f1ro9048/artifacts) and you can upload them from the PyPi web interface (log in, browse to PyWavelets, and use the "upload"

[2015-12-28 21:09] rgommers commented on #128
ah, good to have that sorted out. I emptied the queue of messages to be moderated.

[2015-12-28 21:16] rgommers commented on #128
Maybe one note on uploading: there are a lot of bad ways to do it (like ``setup.py upload``), the recommended way is ``twine upload -s <tarballs or wheels to upload>``. That's secure, and the ``-s`` will GPG-sign the files. You'll need to have your GPG key set up for that (if no time for that now, leave out the ``-s``).

[2015-12-28 22:20] grlee77 opened #151 "use refguide_check.py for doctests as in scipy"
In #150 , during the fixing of doctests, the addition of lines such as
`import numpy as np` are needed for the tests to pass, but tend to clutter the documentation strings a bit.

@rgommers mentioned https://github.com/scipy/scipy/blob/master/tools/refguide_check.py
as a potential solution to the issue

[2015-12-28 23:56] grlee77 commented on #128
@rgommers
Thanks for the tip to use `twine` rather than `setup.py upload`.  I have tagged the release and uploaded to PyPI.  I also marked it as a release on github.  Is there anything else I still need to do aside from emailing the google group to announce the release?

The docs at http://pywavelets.readthedocs.org/en/latest/ are up to date, but the ones at:
http://pythonhosted.org/PyWavelets/  (

[2015-12-29 00:17] grlee77 commented on #128
I have now updated the docs on http://pythonhosted.org/PyWavelets/ by uploading a .zip file via the pypi web interface

[2015-12-29 04:46] grlee77 commented on #128
0.4.0 released

[2015-12-29 04:46] #128 closed

[2015-12-29 08:59] rgommers commented on #128
Forgot about pythonhosted.org, sorry. Release looks good and complete, thanks for all the efforts @grlee77!

[2015-12-29 09:00] rgommers commented on #128
Oh, one thing may be useful: for the release announcement, put a few sentences about "what is PyWavelets" at the top, and send it also to the ``scipy-user`` and ``python-announce`` lists. Not many people read the PyWavelets list....

[2015-12-29 13:07] aaren commented on #128
Great. Thanks all!

[2015-12-31 23:13] grlee77 commented on #127
closed by #148

[2015-12-31 23:13] #127 closed

[2016-02-11 19:39] kwohlfahrt commented on #136
I've tried setting up asv, but it is unable to build the package. It complains that `ImportError: No module named numpy.distutils.core`. It is available on my system, so this is related to the virtual environment asv tries to set up.

The normal way of letting pip know is by adding `install_requires` and `setup_requires` to the `setup` function arguments. However, it complains (`Unknown distributi

[2016-02-11 21:19] rgommers commented on #136
Can you share your branch? ``asv`` works for Scipy, and ``numpy`` needs to be found by ``asv`` anyway to run the benchmarks.

[2016-02-11 21:22] rgommers commented on #136
The warning comes from ``distutils``.

Maybe we should update to ``setuptools`` and the right form of ``install_requires``. But I'd really really like to avoid ``setup_requires`` - ``pip`` doesn't support that so this triggers the horrible mess that is ``easy_install``.

[2016-02-11 22:35] kwohlfahrt commented on #136
@rgommers sure, it's the `asv` branch. The first commit is unrelated, and the second is pretty much just the result of creating the 'asv' directory and running `asv quickstart`. Fails on my work machine and my laptop.

[2016-02-11 22:49] kwohlfahrt commented on #136
I'm not a pip/distutils expert by any means, so if you know what the modern way of doing things is that's great :)

[2016-02-12 12:38] florianletsch opened #156 "Gabor Wavelet"
Excuse my potential ignorance, but I am rather new to signal processing in general.
1. Is there any particular reason the Gabor Wavelet is not part of the included Wavelets?
2. I understand I can create a custom Wavelet, provided I pass in the correct coefficients for the filter bank. The Gabor Wavelet is a Gauss multiplied with a cosine function. How do I turn this function in the matching filter

[2016-02-15 11:48] kwohlfahrt commented on #156
I haven't come across it before, but had a quick read around. Unlike the wavelets included here (except the `dmey` wavelet) it is a continuous wavelet. I'm not sure exact reconstruction is possible with a discrete approximation, there are a couple papers on the subject but it's a bit over my head.

It is probably more suitable as an analysis filter, but I'm not sure it's suitable as a decompositio

[2016-02-24 15:08] aaren commented on #156
@florianletsch It looks like there is an analytic definition of the Gabor wavelet so you could try defining it in my [continuous wavelets package](https://github.com/aaren/wavelets) and see if that works for you. Depends on what sort of problem you're solving and how many dimensions it has? (time-series, image decomposition, something else?)

[2016-02-26 18:08] grlee77 commented on #156
Also, depending on your application, you may be interested in the discrete Gabor filters available in scikit-image.  Here is an example:
http://scikit-image.org/docs/dev/auto_examples/features_detection/plot_gabor.html

[2016-02-26 19:48] florianletsch commented on #156
@grlee77 Thanks. That's the solution I have settled on for now.

[2016-02-28 12:46] zstomp opened #157 "Performance degradation between 0.2.2, 0.3.0, and 0.4.0"
I've been using Mike Marino's ISWT routine with PyWavelets 0.2.2 for quite a while now. The function made it to PyWavelets 0.4.0, but its performance is significantly slower than with 0.2.2.

I extracted the `iswt` function from 0.4.0 and ran a test ([performance.py](https://gist.github.com/zstomp/7eab0e0c0c6320bc212c)) with 0.2.2 (7 s), 0.3.0 (16 s), and 0.4.0 (22 s). I was able to profile 0.4.0,

[2016-02-28 18:37] kwohlfahrt commented on #157
Can confirm, 4.3s, 11s and 16s with 0.2.2, 0.3.0 and 0.4.0 respectively on my laptop (i5-4210U), numpy-1.10.4, python-2.7.11. python 3.4.3 has times of 14s, and 19s, for 0.3.0 and 0.4.0, doesn't work with 0.2.2.

FWIW I'm working on #136 so this should be rarer in future, but I'll see if I can figure this one out too.

[2016-02-28 20:05] kwohlfahrt commented on #54
I think this can be closed (not a bug, a feature :P ). Will do so in a couple days if there are no objections.

[2016-02-28 23:03] kwohlfahrt commented on #136
It can be worked around by specifying the dependencies to ASV rather than in `setup.py`. I pulled out the last of the templating and converted the setup over to vanilla setuptools (with the exception of tests) before I figured that out though, so PRs for both incoming.

[2016-02-29 05:32] grlee77 commented on #54
+1 from me on closing this

[2016-02-29 06:14] grlee77 opened #160 "Appveyor failing on recent PRs"
I'm not sure what is going on with AppVeyor, but it is failing on the two most recent PRs made.  As far as I can tell a wheel is successfully created:
e.g.
 `C:\projects\pywt\dist\PyWavelets-0.5.0.dev0+da2774a-cp27-cp27m-win32.whl`

but pip fails to find the wheel when it attempts to install from it.

From one of the logs on #158
[code]
From what I have read, the `--pre` option we are using should

[2016-02-29 12:31] kwohlfahrt commented on #160
I have a branch `setuptools`, that pulls out the numpy distutils in favour of normal setuptools. That means it's possible to use a much simpler AppVeyor script, which [passes](https://ci.appveyor.com/project/kwohlfahrt/pywt/build/1.0.49). However, I'm not sure this correctly caches numpy builds, so it's currently quite slow. I'll play with that a little more and then open a PR.

[2016-02-29 18:49] kwohlfahrt commented on #160
OK, I have a branch that builds on both travis and appveyor. It uses plain setuptools and nosetests, though I'm still working on getting coverage and doctests. PR incoming.

[2016-03-01 00:17] kwohlfahrt opened #163 "Set up coveralls"
Working on #161 coverage now works very well. We could set up coveralls (or something similar? I don't know any alternatives) to give a more constant overview if people think this would be useful.

[2016-03-01 11:25] kwohlfahrt commented on #110
@rgommers I'm late to the party, but I've also signed up to appveyor (initially using my email, but it is also linked to my github account). Can I be added as a collaborator please?

[2016-03-01 21:55] rgommers commented on #136
@kwohlfahrt sorry for the inaction - I've been very busy at work and hit by the flu epidemic here. Will do some reviewing now.

[2016-03-01 21:57] rgommers commented on #163
An alternative is https://codecov.io/. We switched to that from coveralls.io. They're fairly similar though.

[2016-03-01 22:21] kwohlfahrt commented on #163
Sure, I'm not fussed. I have a branch with coveralls at the moment but as far as I can see it'd be a change of 2 lines in `.travis.yml`

[2016-03-01 22:23] rgommers commented on #163
Whichever one you prefer I'd say.

It would probably be good to turn off the feature where the code coverage bot adds a comment with the coverage stats to each PR. That tends to get annoying quickly, especially when adding commits to a PR. As long as there's a link to the results next to the TravisCI/Appveyor ones, that should do the job.

[2016-03-01 22:46] kwohlfahrt commented on #163
OK, gave codecov a whirl. Not as pretty, but their website is much more responsive so I'll stick with them. Going to pick off some low hanging fruit and then open a PR (currently based on #161 but that's a big one and it should be possible to rebase if that doesn't get merged).

[2016-03-01 23:34] rgommers commented on #110
@kwohlfahrt I've added the PyWavelets Core team with Admin rights to the account, so you should have access now. If that doesn't work, which of your email addresses do I use?

[2016-03-01 23:34] kwohlfahrt commented on #163
I've just spotted this, which looks like something we should definitely use: http://blog.behnel.de/posts/coverage-analysis-for-cython-modules.html

However, it seems likely that adding the instrumentation will slow down the generated code. We'll want this disabled for release, but enabled for coverage reports. Any thoughts on how to best enable this? Perhaps some environment variable checked in `s

[2016-03-01 23:39] rgommers commented on #163
That would be nice indeed. Disable also for normal builds off master I'd think. Maybe just set an envvar and then use ``compiler_directives`` (see http://docs.cython.org/src/reference/compilation.html#in-setup-py) only if that envvar is present? Then we can enable it only on a single TravisCI run where we generate a coverage report, and locally only when needed.

[2016-03-02 10:19] kwohlfahrt commented on #110
Works, I had to log out and then log back in with github in case anybody else runs into that problem. Thanks!

[2016-03-02 18:10] aaren opened #165 "Matlab wavelet compatibility"
If we decide we want to have all of the Matlab wavelets available, here is the list available in Matlab r2015b:

[code]

[2016-03-02 18:11] aaren commented on #165
Additional db and coif being added in #164

[2016-03-02 22:44] kwohlfahrt commented on #163
OK, Cython coverage is working. I've added C instrumentation as well but the analysis is not quite ready. Tests only take about twice as long on my laptop, so I've left them enabled on all CI builds for my branch. We can hash out specifics later.

[2016-03-03 00:03] kwohlfahrt commented on #163
OK, I've hit a wall regarding getting C code covered. There are two issues:

- specifying the C sources to each extension module causes them to be rebuilt every time (so the `common.o` file for `_dwt` is rebuilt before compiling `_swt`). This breaks profiling as the `.gcno` files are timestamped.
- Profiling works if the C components are built as a static library. However, this causes horrible bre

[2016-03-03 05:18] stsievert opened #166 "Wavelet coefficients to single array (and vice versa?)"
In my subfield (signal processing), it's common to see the full level wavelet transforms represented in a single array. This adds indexing ease and wavelet transforms tend to be treated as complete arrays.

I'd like to see

[code]

I see two options for an interface:

- defining two functions, something like `wavelet_coeffs_to_array` and `array_to_wavelet_coeffs`.
- adding a keyword argument to ev

[2016-03-03 10:14] kwohlfahrt commented on #166
This was discussed before, in #93 and #103, and the main issue was that the coefficient lengths for some padding modes aren't equal, so coefficients for >1D transform cannot be tightly packed into an array. This mismatch in lengths is also used to encode the fact that the input array was odd-length, so that information would be permanently lost.

[code]

Of your two approaches, I'd prefer the util

[2016-03-03 10:54] kwohlfahrt commented on #163
Breakage fixed, the macro wasn't correctly defined (use the `'macros'` keyword for clib) so it wasn't using the python allocator. It also needs to be defined for the cython extensions, not sure why

Now it's just a little irritating that the c library is always rebuilt regardless of whether the sources have changed, and that a change to the c files no longer triggers the cython modules to be rebui

[2016-03-03 14:36] stsievert commented on #166
At the very least, I'd like to see utility functions that handle 1D and 2D arrays for Haar and Daubechies wavelets. I'd be okay providing utility functions that only work in some cases and documenting when they don't work (and throwing errors if necessary). Maybe something like below?

[code]

[2016-03-03 15:26] kwohlfahrt commented on #166
That seems sensible. Use a user-define padding value, and if it is `None` raise an exception if the lengths don't match. It shouldn't depend on the wavelet used, and nD would be nice to have if it works for 2D. What should be done if a member of the coefficients is `None`? It could be filled with `0.0`, the padding value, or be an error.

The other thing to think about is how to go back from the a

[2016-03-03 18:35] grlee77 commented on #166
I had worked on this a little, but ran into some of the problems @kwohlfahrt mentions above.  That being said, I do have a pair of functions that do exactly what you are requesting with `wavelet_coeffs_to_array` and `array_to_wavelet_coeffs` that work at least for a subset of cases.  I don't think they are quite ready for submission as an official PR, but maybe I can open a work-in-progress PR (th

[2016-03-03 18:38] grlee77 commented on #166
the version I made was for the n-dimensional case

[2016-03-07 21:55] kwohlfahrt commented on #51
Re-naming and re-categorizing.

[2016-03-07 21:56] #54 closed

[2016-03-07 21:58] kwohlfahrt commented on #160
Closed by #170

[2016-03-07 21:58] #160 closed

[2016-03-07 22:06] kwohlfahrt opened #171 "Sphinx doctests not picked up by runtests.py"
Pulling random lines out of the tests in `doc` doesn't cause `python3 runtests.py` to fail. Tests in function docstrings are picked up (at least as of #163).

[2016-03-07 22:14] kwohlfahrt commented on #165
Doing what MATLAB does and calculating coefficients for arbitrary members of a wavelet family would be very neat. Many would require implementing a solver for the particular equation, so an optional dependency on something like [SymPy](http://www.sympy.org/en/index.html) would probably be necessary. If it is not available then only the predefined wavelets would be available.

[2016-03-07 23:15] rgommers commented on #171
IIRC that's on purpose - the doctests in ``doc/`` were the only form of tests before I started working on ``pywt``. Now those should be translated to unit tests. Not sure they're all translated (haven't checked), but would be good to get rid of these doctests because (a) they're duplicate, and (b) they're pretty poor for actual documentation.

[2016-03-08 11:47] kwohlfahrt commented on #171
OK, changing the issue title, looks like there's a lot to be done about documentation (sigh). I've made a list below, feel free to mention any other issues and I'll update it.

- [ ] Consolidate "Usage Examples" (`doc/source/regression`) and `demo`
  - The "Usage Examples" page was the only tests, now we have unit tests. They should be edited to be better examples.
  - The `demo` folder is unteste

[2016-03-08 18:53] kwohlfahrt commented on #171
Notes on `doc/source/regression`. I found the chapters on wavelet packets to be much more useful than the API documentation, so there is some value in them. Perhaps a "Getting started" chapter wouldn't be amiss.

Contents:
- `dwt-idwt.rst`
  - round-trip 1D dwt
  - `dwt_coeff_len`
  - Available modes and `dwt_coeff_len` for each mode
  - use of `None` as idwt parameter
  - Error on unequal coeff l

[2016-03-08 19:09] kwohlfahrt commented on #171
Notes on `demo`

- `benchmark.py`: benchmark for several sizes and wavelet of 1D transform
- `dwt2_dwtn_image.py`: Show round-trip of `pywt.data.aero()`, including difference of dwt2/dwtn API
- `dwt_signal_decomposition`: decomposes a signal 5 times with `dwt` (line with changing gradient, sine with changing frequency, ECG) and then plots each level of reconstruction.
  - looks like this was writt

[2016-03-10 12:53] overjoy opened #173 "SWT on last samples of sequence"
Hello everybody and thanks for this great library.
I'm newbie in wavelets and have a question regarding SWT. I don't know if it's a bug or not, but why do I get some weird spikes at the end of sequence? Here is the plot and corresponding code:
![swt](https://cloud.githubusercontent.com/assets/510509/13669752/8d36f952-e6d6-11e5-9299-32a3002b65f3.png)

[code]

I'm using approximation and detail sequ

[2016-03-10 14:57] kwohlfahrt commented on #173
I think this is due to the signal extension (to generate the last few elements of the decomposition, the wavelet has to be multiplied with values *past* the end of the signal). These are generated from a number of available signal extension modes (see `pywt.Modes`) for the DWT. For SWT, the `periodization` mode is used, so the samples at the very end are influenced by those at the beginning.

[2016-03-10 16:47] grlee77 commented on #173
Agreed.  There is detailed discussion of these border effects here
http://www.mathworks.com/help/wavelet/ug/dealing-with-border-distortion.html
(The border modes in pywt match those available in Matlab)

[2016-03-15 23:54] overjoy commented on #173
Well.. This border effect is present on both sides or only in the end of a sequence? I tried to reverse the sequence before decomposition and then reverse decomposed coefficients back. The result is shifted. Can't figure out why. Here is the plot of signal with level 4 approximations:

![figure_13](https://cloud.githubusercontent.com/assets/510509/13797932/2f533710-eb22-11e5-90f3-d0030a960695.png)

[2016-04-06 13:13] kwohlfahrt commented on #171
@rgommers: Do you know what the `demo/dwt_signal_decomposition.py` demo is showing? I understand the decomposition part, but then before plotting it runs the coefficients through `waverec`. If this is a common pattern I'd like to document it properly in the examples.

[2016-04-09 02:17] geraldstanje opened #174 "multilevel wavelet and print DWT Scaling Coefficients"
Hi,

How can I create a discrete wavelet with 8 levels and print the DWT Scaling Coefficients, like in the following example in R? http://ideone.com/h3oOqm

python:
[code]

the python code only calculates level 8...is that expected? i only see one coefficient, which is 32

i did the following, but is there a way to avoid this loop? how can i set the max_level?
[code]

[2016-05-08 23:00] kwohlfahrt commented on #174
The current behaviour is to only calculate the approximation coefficient at the highest level using `wavedec`. I think the wavelet packet module allows you to pick an arbitrary coefficient & level. I have not used it much in my work so I don't really know the details of it. I think this is correct:

[code]

If you do not want to use that, then using `dwt` on the previous scaling coefficient in you

[2016-06-10 07:26] nareto opened #175 "length of returned arrays"
why does pywt.dwt(np.arange(8),'db2') return two arrays of size 5 each? As far as I understand the DWT should always do a downsampling of size 2, no matter the length of the filter... Am I missing something?

EDIT: where of course I did `import numpy as np` before

[2016-06-15 21:17] kwohlfahrt commented on #175
The default is to pad the signal (there are multiple padding methods available). For the minimum signal length (i.e. 2x downsampling), the `"periodization"` mode should be used. Detailed documentation is [here](http://pywavelets.readthedocs.io/en/latest/ref/signal-extension-modes.html).

[2016-06-17 10:12] nareto opened #176 "CDF 9/7 wavelet"
I would like to use the [CDF 9/7 wavelets](https://en.wikipedia.org/wiki/Cohen-Daubechies-Feauveau_wavelet) on a 1D signal. This is the test code I have, which doesn't work (i.e. the reconstructed signal is different, though somewhat similar....)

    import numpy as np
    import pywt

    factor = 1
    cdf97_an_lo = factor*np.array([0.026748757411, -0.016864118443, -0.078223266529, 0.2668641184

[2016-06-17 12:03] grlee77 commented on #176
I am not sure about the padding without looking into it more closely, but the built-in `bior4.4` wavelet is the same as CDF 9/7 aside from a different normalization of the coefficients.  (e.g.  dec_lo is scaled by sqrt(2) and dec_hi by 1/sqrt(2)).

Based on comparing where the 0's are in the `bior4.4` coefficients, the following slight modification to your cdf97 coefficients to have the same symme

[2016-06-18 07:31] FrankYu opened #177 "Fail to install pywt due to the use of index_t which conflict with the defination in /usr/include/sys/types.h on smartos sysmte(open solaris like system)"
#git describe
v0.4.0-83-g416c697

#python setup.py install
Cythonizing sources
pywt/_extensions/_swt.pyx has not changed
pywt/_extensions/_pywt.pyx has not changed
pywt/_extensions/_dwt.pyx has not changed
/opt/local/lib/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'test_suite'
  warnings.warn(msg)
running install
running build
running config_cc
unifing config_cc, con

[2016-06-21 07:51] nareto commented on #176
thank you, it seemed strange these filters weren't present in pywt. Now I'm using 'bior4.4' and reconstruction works as expected

[2016-06-21 22:10] grlee77 commented on #177
closed by #178

[2016-06-21 22:10] #177 closed

[2016-06-21 22:11] #176 closed

[2016-06-28 17:35] kwohlfahrt commented on #173
Looks like the question has been answered. Feel free to re-open if it is not clear.

[2016-06-28 17:35] #173 closed

[2016-07-04 09:33] dmpetrov opened #180 "Memory leak"
It looks like pywt has a memory leak. When I process more than 200K small images (<10 KB each) a process takes all 16GB of my memory and stops (or slows down).

- Code

whash() function from imagehash lib:
https://github.com/JohannesBuchner/imagehash/pull/23/commits/da9386da76d3d32f6ba41160c7ef284102df36fc

Reproduction code snippet:
[code]

Btw.. imagehash.phash() function doesn't use pywt and do

[2016-07-04 09:49] JohannesBuchner commented on #180
Perhaps it is more helpful to write a test case code which does not use imagehash to show that the issue is indeed in pywt.

[2016-07-04 09:49] JohannesBuchner commented on #180
Does the memory leak for all kinds of modes/methods or only one in particular?

[2016-07-04 10:01] JohannesBuchner commented on #180
Candidates could be these two functions, which allocate a Wavelet object, and one should double-check that these are being de-allocated.

wavedec2
https://github.com/PyWavelets/pywt/blob/416c697d612ac75acfc3a216a193b2582701b62b/pywt/_multilevel.py

idwtn
https://github.com/PyWavelets/pywt/blob/416c697d612ac75acfc3a216a193b2582701b62b/pywt/_multidim.py

[2016-07-04 11:23] dmpetrov commented on #180
Reproduction code snippet without imagehash (files - list of input files, 200K+ files):
[code]

I saw the leaking issue with 'haar' and 'db4' modes.

[2016-07-04 14:59] kwohlfahrt commented on #175
Closing, think the question is answered. Re-open if not.

[2016-07-04 14:59] #175 closed

[2016-07-04 15:41] kwohlfahrt commented on #180
Can reproduce, will investigate.

[code]

Throwing in a `gc.collect()` doesn't help.

[2016-07-04 22:48] kwohlfahrt commented on #180
Gotcha. It's these two lines in `dwt_axis` responsible, I'll figure out what to do about them in the morning.

[code]

[2016-07-05 14:51] kwohlfahrt commented on #174
Closing as solved. If the proposed solutions don't work, or you think there is a use-case for modifying the behaviour of `wavedec`, please comment and re-open.

[2016-07-05 14:51] #174 closed

[2016-07-05 22:39] stuaxo commented on #180
Is that a known issue in Cython ?   Could be worth raising it there ?

[2016-07-06 10:57] kwohlfahrt commented on #180
@stuaxo yes, I will raise it upstream, I have a minimal example [here](https://gist.github.com/kwohlfahrt/3711fd519146cd5bb10872b6668b1560). http://trac.cython.org is dead at the moment though.

[2016-07-06 15:20] stuaxo commented on #180
Cheers :) only mentioned as it gave me a horrible flashback to a similar bug I had before, but never tracked down in a different library.

[2016-07-06 20:27] kwohlfahrt commented on #180
@dmpetrov could you double check that this is fixed now?

[2016-07-06 21:20] #163 closed

[2016-07-07 06:56] dmpetrov commented on #180
I've checked the master branch version. Now it works much better. For one specific scenario it uses 400MB instead of 1.2GB of RAM.

However, the memory usage is still increasing. The growth rate is 3-10 times less then it use to be. I'm not sure if it is another issue in the library or just a regular Python behavior.

Anyway now we can process million of images with less then 1Gb of memory (less t

[2016-07-07 12:59] kwohlfahrt commented on #180
That still shouldn't be happening. I'll re-open this so I remember to chase it down.

[2016-07-07 14:02] JohannesBuchner commented on #180
@dmpetrov, could you try to do `gc.collect()` in your loop?

[2016-07-07 14:59] dmpetrov commented on #180
I'll try today night.

Sent from my iPhone

[2016-07-08 03:46] dmpetrov commented on #180
tried gc() in the loop - the same result

[2016-07-08 13:01] kwohlfahrt commented on #180
I am unable to reproduce the issue with the following script, with 10 000 000 loop iterations memory use stays constant. Perhaps the bug is in PIL.

[code]

[2016-07-08 13:41] dmpetrov commented on #180
@kwohlfahrt you are right. I replaced image reading part to image copy and now the memory usage is constant.

Do you know where is the correct PIL repository for opening a bug https://github.com/python-pillow/Pillow ?

[2016-07-08 14:41] kwohlfahrt commented on #180
That looks like the right place (if you are using pillow instead of the old PIL). I haven't used it much to be honest. Closing this now, thanks for reporting and following up :)

[2016-07-08 14:41] #180 closed

[2016-07-08 14:47] dmpetrov commented on #180
Thank you for the fix!

[2016-07-08 15:17] dmpetrov commented on #180
I reported the bug to Pillow: https://github.com/python-pillow/Pillow/issues/2019

[2016-07-14 16:42] stsievert commented on #166
This is closed by #168.

[2016-07-14 16:42] #166 closed

[2016-08-01 09:41] Decapitary opened #185 "miss Calculation?"
I calculated [1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8]`s DWT using D4 (aka db2) with this [equation](http://www.bearcave.com/misl/misl_tech/wavelets/matrix/daubeqn.jpg) the result is

my calculation in JS:

Your output:

Which one is correct?  what is your algorithm ? I know your filter coefs are right but how do you calculate this coefs?

[2016-08-01 18:33] grlee77 commented on #185
I am closing this as it is not a bug.

Please use the [mailing list](https://groups.google.com/forum/#!forum/pywavelets) rather than the github issues page for general questions such as this.

The implementation in PyWavelets is via (downsampled) convolution with the wavelet coefficient filter banks.

The cython code called by the `dwt` python function is here:
https://github.com/PyWavelets/pywt/b

[2016-08-01 18:33] #185 closed

[2016-08-01 20:45] Decapitary commented on #185
sorry for that. the convolution code was perfectly clear (specially the
document comment). I used exactly this

On Mon, Aug 1, 2016 at 11:03 PM, Gregory R. Lee <notifications@github.com>
wrote:

[2016-08-01 20:46] Decapitary commented on #185
output[o] = sum(filter[j] * input[i-j] for j = [0..F) and i = [0..N))

in my code. should I do it your way or this is enough ?

On Tue, Aug 2, 2016 at 1:15 AM, Lord Decapitary <decapitary@gmail.com>
wrote:

[2016-08-08 21:13] geraldstanje opened #186 "wavelet test - python result differs from R"
Hi,

I want to port some R code which includes a wavelet transform to Python:

r code:
https://gist.github.com/geraldstanje/a0ad53b7cb7828f1999ee9693df3a75e

python code:
https://gist.github.com/geraldstanje/7bcd560af208a86352adfe4ed5a38202

can you explain why the python version returns a different result?

here is the input file:
https://gist.github.com/geraldstanje/52a4fb141e124da3da2249654eb6b

[2016-08-09 09:36] kwohlfahrt commented on #186
I suspect this is due to the boundary condition. `'zpd'` specifies you want to treat the array as though it was zero-padded, while according to the [wavelet package reference](http://pywavelets.readthedocs.io/en/latest/ref/signal-extension-modes.html) R only supports periodic and reflection boundary conditions. You can find more info on boundary conditions supported by pywt [here](http://pywavelet

[2016-08-09 13:57] geraldstanje commented on #186
@kwohlfahrt is seems the mode does not effect the result. I extract the scaling coefficients in R. Is it the right way I extract them in Python as well?
[code]

[2016-08-11 04:20] geraldstanje commented on #186
@kwohlfahrt did you already have time to look at it?

[2016-08-11 11:32] kwohlfahrt commented on #186
No, sorry. I'm very busy writing up at the moment, so can't commit time to look into this deeply in the immediate future.

[2016-08-12 17:08] geraldstanje commented on #186
someone else who can give feedback?

[2016-08-12 21:08] grlee77 commented on #186
Hi @geraldstanje,

I am not sure exactly what your goal is here with keeping the first coefficient of the approximation coefficient array at each level, but the following code does what you want.  It is not computationally efficient, but depending on your data size that may or may not matter.  It uses wavedecn to do 1 1-level decomposition,  restarts with a 2-level decomposition, etc...

If you lo

[2016-08-12 21:14] grlee77 commented on #186
As an aside, it is good to see that the `pywt` functions work properly for the `pandas.series.Series` inputs used in this example.  That is not something we explicitly test against as far as I can recall, but the call to `np.asarray` seems to take care of the conversion.

[2016-08-12 22:21] geraldstanje commented on #186
@grlee77 my goal is to port the R code of the wavelet transform to python to extract the scaling coefficients. Im not sure if I do it in the right way in python?

[2016-08-17 21:28] geraldstanje commented on #186
@grlee77 do you see the diff?

[2016-08-17 23:06] grlee77 commented on #186
sorry, I had not noticed only the first couple of values were the same.

At level 1 the input is size 380.  At level 2 it is 190.  Both of these are even length and the results match.  At level 3, the input is size 95 which is odd and this is where the differences start.

This appears to be a difference in how R is handling the convolution for odd length inputs.  The implementation in PyWavelets i

[2016-08-17 23:07] grlee77 commented on #186
as this does not appear to be a bug in `PyWavelets` I am going to close the issue.

[2016-08-17 23:07] #186 closed

[2016-08-18 13:05] JohnLunzer opened #187 "'reflect' signal extension mode"
I've noticed that PyWavelets lacks an important signal extension mode, which is `'reflect'`:

It would look like this:
`... x3 x2 | x1 x2 x3 ... xn-2 xn-1 xn | xn-1 xn-2 ...`

This extension mode is what is prescribed in the DWT section of the JPEG2000 standard. I assume it is used elsewhere as well.

Please see `numpy.pad`'s `'reflect'` mode as an additional example:
http://docs.scipy.org/doc/num

[2016-08-29 19:25] grlee77 opened #189 "bump minimum numpy version?"
I noticed that the `README.md` states that we support numpy >=1.6.2, but 1.7.2 seems to be the oldest version we test on Travis.

Is there any objection to bumping the minimum numpy version?  I would be inclined to bump to **1.9** which is almost exactly 2 years old at this point.  What do others think?

Two recent examples where we wanted to use newer functionality (there are probably more I am f

[2016-08-29 19:53] rgommers commented on #189
I think it's a good idea to bump as needed when we want to use new functionality in numpy, as long as we keep at least 2 years worth of releases or 2 versions. So up to 1.9.3 is fine with me.

[2016-08-30 15:59] asnt opened #191 "Upgrade removed Pillow methods"
The `demo/image_blender.py` script fails with Pillow>=3.0.0. The methods Image.tostring() and Image.fromstring() have been dropped in favour of the tobytes() and frombytes() ones.

See: https://github.com/python-pillow/Pillow/pull/1343

[2016-09-08 18:25] grlee77 commented on #191
fixed by #192

[2016-09-08 18:25] #191 closed

[2016-09-09 08:58] grlee77 commented on #187
This is a reasonable request and also appears to be a mode that is supported in recent versions of Matlab (under the name `symw`).

See #193 for a proposed implementation.

[2016-09-13 05:19] grlee77 commented on #189
version bumped by #190

[2016-09-13 05:19] #189 closed

[2016-09-18 10:49] grlee77 opened #194 "problems in automated padding of user-defined filter banks"
A user on the [mailing list](https://groups.google.com/forum/#!topic/pywavelets/INEbTqUSHvk) attempted to implement the CDF9/7 wavelet by specifying the filter bank as follows:
[code]

If one inspects the filter_bank attribute of the Wavelet that is produced, it can be seen that the filters have been extended to length 10 by padding a zero to the end of each.  However, if one attempts to use this

[2016-09-25 17:02] baogorek opened #195 "dwt_max_level seems wrong for haar wavelet"
I'm trying out the haar wavelet decomposition example in the "[Wavelet for Kids](http://gtwavelet.bme.gatech.edu/wp/kidsA.pdf)" tutorial. The coefficients are matching when I specify the level directly:

[code]

However, there's a sign of trouble ahead when I look at the calculated max level:

[code]
And if I don't specify the level argument in wavedec, it does indeed use 35 levels, which seems wr

[2016-09-25 20:31] kwohlfahrt commented on #195
I cannot reproduce, or I've misunderstood the issue. The following looks correct to me?

[code]

[2016-09-28 18:58] grlee77 opened #196 "building in-place for development."
With setup.py as currently configured, one cannot build for development using simply
```pip install -e .``` from within  the source tree, but must first call `python setup.py build_clib` to make sure the c library is built first.  I think setup.py was structured as is to get coverage of the C code to work properly.

I couldn't find an option for pip that would cause it to first call `build_clib`,

[2016-09-29 00:26] baogorek commented on #195
Hi @kwohlfahrt, it looks fine on your end. I'm not sure why pywt.dwt_max_level(8, 2) is evaluating to 35 on my system. I've got a work-around, obviously, but for reference I'm on Windows 10 with sys.version

2.7.12 |Anaconda 4.1.1 (64-bit)| (default, Jun 29 2016, 11:07:13) [MSC v.1500 64 bit (AMD64)]

I used conda (with pip, if I remember correctly) to install the package from github.

[2016-09-29 07:16] rgommers commented on #196
It should never be needed to call ``build_clib`` for anything I think, that command is more or less an implementation detail (``build_ext`` is more common though for in-place builds). I don't see anything unusual in ``setup.py`` that should break something. I'll give it a try now.

[2016-09-29 07:22] rgommers commented on #196
Both ``pip install -e .`` and ``python setup.py develop`` work as expected for me. What is the problem exactly for you?

[2016-09-29 08:59] rgommers commented on #196
Sorry, new laptop - was pulling from my own repo which is behind. Current master is indeed broken. Will see if I can find a cure.

[2016-09-29 10:44] rgommers commented on #196
OK ugly fix in gh-197.

[2016-09-29 21:31] grlee77 commented on #187
Hi @JohnLunzer , if have merged the requested extension mode into master.

[2016-09-29 21:31] #187 closed

[2016-09-29 21:38] grlee77 commented on #195
strange, we do have some windows testing via Appveyor.

@baogorek
If you run the following test, does it also fail?:
[code]

[2016-09-30 12:43] baogorek commented on #195
The test did fail, but I had to run it by copying and pasting code from github (the test module wasn't included with my installation). Attaching a [zipped copy of my pywt folder ](https://github.com/PyWavelets/pywt/files/502934/pywt.zip) from Anaconda2/Lib/site-packages in case anything is weird there.

Also, I noticed that dwt_max_level depends on the c function size_log2 in _extentions/c/common.

[2016-09-30 12:59] kwohlfahrt commented on #195
Yes, that seems like a good guess. Could you output the pre-processed version of that function on your system? With GCC that is the `-E` flag, so that should work for mingw.

[2016-09-30 13:11] grlee77 commented on #195
Appveyor uses MSVC, so I don't believe we have tested with mingw64.  mingw64 would not have defined `_MSVC_VER`, so it looks like `size_log2` would be calling `__builtin_clzl` .  I suspect that `size_t` and `unsigned long` may not be equivalent in your case?

Two possible fixes for `size_log2`:
1.)  using an #ifdef with `__MINGW64___` to call a function matching the size_t type for that setup.  Ma

[2016-09-30 14:46] kwohlfahrt commented on #195
This should be testable by checking `SIZE_MAX == ULONG/UINT/ULONGLONG_MAX` and selecting the appropriate function that way.

[2016-09-30 23:33] baogorek commented on #195
@kwohlfahrt here's the
[preprocessor output](https://github.com/PyWavelets/pywt/files/503978/preproc_common.txt). Briefly, dtw_max_level shows up as:

unsigned char dwt_max_level(size_t input_len, size_t filter_len){
    if(filter_len <= 1 || input_len < (filter_len-1))
        return 0;

    return size_log2(input_len/(filter_len-1));
}

[2016-10-01 13:41] #196 closed

[2016-10-02 11:26] kwohlfahrt commented on #195
@baogorek - I meant the contents of `size_log2`, not it's call site. Could I have a look at that please? Also I've made a guess at a fix in #198, could you see if that works?

[2016-10-02 17:42] baogorek commented on #195
@kwohlfahrt , I checked out your branch and ran  gcc -E common.c. The part that contains size_log2 is:
[code]
In  [#198]( https://github.com/PyWavelets/pywt/pull/198), I added some install errors based on this function when using pip install.

[2016-10-03 13:00] Mojusko opened #199 "swt_max_depth"
The calculation results in 0 for an odd input, which cannot be correct.

[2016-10-03 13:33] kwohlfahrt commented on #199
AFAIK, this is intentional behaviour. If possible, this is something we would like to improve, but this requires substantial work (it's not just a bug in `swt_max_depth`). It's been a while since I've looked, so perhaps somebody with more up to date knowledge could chime in.

Similarly, MATLAB (our reference implementation) does not support decomposition for arrays with a length that cannot be exp

[2016-10-04 09:12] Mojusko commented on #199
The MATLAB remark is not correct. MATLAB accept any input size. One of the biggest advantages of modwt/swt is that it can be done on any input size. It is very unfortunate that this is the case and should be changed ASP IMHO.

[2016-10-04 10:20] kwohlfahrt commented on #199
This is what I see (MATLAB R2016a) - is there another function that accepts other lengths, or is this available in a different version?

I agree it would be useful to add, but I'm not sure how the padding and filter upsampling would interact, especially without a reference to refer back to.

[code]

[2016-10-04 12:47] danjjl opened #200 "swt implementation is considerably slower than MATLAB"
`swt` implementation is much slower in PyWavelets than in MATLAB.

The following code  runs in approximatively **20s**.
[code]

The equivalent MATLAB code only takes **0.5s**.
[code]

*(MATLAB's implemenation specifies:*

*[http://nl.mathworks.com/help/wavelet/ref/modwt.html])*

[2016-10-04 16:30] kwohlfahrt commented on #199
I also just noticed that you referred to the MODWT - I think this is distinct from the SWT we implement, though I'm not 100% sure. There is some previous discussion in #51.

[2016-10-05 15:45] Mojusko commented on #200
This relates to the previous post. They use different algorithms to compute the SWT/MODWT and this is most likely the cause. One should really consider implementing MODWT like in Matlab or R here.

[2016-10-05 15:50] Mojusko commented on #199
I am also not sure how exactly the algorithms work; I will have a look at it and possibly implement the modwt transform and submit a pull request. As for now the swt utility is more or less useless, and I would recommend using dft to everybody instead.

[2016-10-05 16:10] kwohlfahrt commented on #200
Please note MODWT and SWT are not the same transform! See below for MATLAB's results on the two functions.

Second, I'm not sure we want to introduce a dependency for FFT-based transforms, since padding them is a whole new can of worms. Depends on whether there is strong demand, anybody is willing to contribute them, and whether SWT can be brought to better performance without (it's relatively new

[2016-10-05 16:23] kwohlfahrt commented on #199
@Mojusko contributions are always welcome! But please, calm down and do a bit of research before calling work useless or incorrect - your statement about MATLAB accepting arbitrary length input could have been checked in about 10 seconds. People have put their free time and hard work into this project and requests for speedups and new algorithms will be better received if they are made politely an

[2016-10-05 16:40] Mojusko commented on #199
@kwohlfahrt I meant my criticism in the best possible spirit. I apologize if I came across arrogantly. I value your and others work on this library and I have been using it for years!

As for the SWT transform I really believe that it should be implemented as MODWT in Matlab or R as in current state one of the two major advantages of SWT/MODWT is not present. I will have a look into it and hopeful

[2016-10-05 16:48] kwohlfahrt commented on #199
No worries, easy to misunderstand things over text. Welcome aboard :)

MODWT has been in the feature queue for a while, so go ahead and grab it - there should be some useful links in #51, and further comments about it should go there. I'll make some suggestions there. The vote to close (not delete) this issue is therefore still up, as it is different.

[2016-10-05 16:54] kwohlfahrt commented on #51
There has been more recent discussion about implementing a MODWT (yay!), with a DFT approach being suggested in #200.

My first instinct would be that this could be slower than a naive convolution, as wavelet filters tend to be small and the corresponding signal quite large. Taking the DFT of the filter and signal, interpolating the filter DFT out to the same length as the signal, doing the per-el

[2016-10-05 17:45] grlee77 commented on #200
I think there is a pretty simple way to speed up the existing `swt` implementation when level > 1.  I will make a PR later today if I get a chance.  Basically, the convolution can skip a lot of the filter entries because they are mostly zero at the higher levels.

I would be happy to help review a PR for MODWT if someone wants to make one.

[2016-10-05 18:10] grlee77 commented on #51
I agree that FFT-based is not necessarily faster.  In a particular case I looked at for DWTs in Matlab in the past, I think FFT-based was faster for filter lengths >16, but obviously the exact cutoff is going to depend on the specific implementation.

[2016-10-05 22:27] grlee77 commented on #200
see #201 for a proposed acceleration to `swt`

[2016-10-06 16:11] grlee77 commented on #199
I believe the function you are referring to is `swt_max_level`?
I wouldn't consider it a bug, as what is returned matches the current implementation.  For `swt`, the size does not have to be a power of two, but it must be an integer multiple of `2**level`.

[2016-10-06 16:38] #195 closed

[2016-10-07 14:47] grlee77 commented on #48
CWT added by #172

[2016-10-07 14:47] #48 closed

[2016-10-07 15:14] grlee77 opened #203 "planning v0.5.0 release"
I think we have reached a sufficient number of new features that it would be nice to do another release soon. Does @PyWavelets/core agree? Any suggested date to target?

Are there other things people would like to see prior to release?  If so please add to the checklist below

**Since 0.4.0 we have merged:**
- 1D continuous wavelet transforms
- new discrete wavelets added (additional Debauchies an

[2016-10-07 15:20] grlee77 commented on #203
@holgern
Are you interested in adding some brief API documentation for the CWT routines you recently contributed?  This would involve the following steps:

- add an entry for cwt to doc/source/ref/index.rst
- add a new cwt.rst file in doc/source/ref following the examples for the existing files in that folder.

[2016-10-07 20:51] rgommers commented on #203
Agreed, +1 for new release.

I have some time next week for reviewing open PRs. And I can do some of the doc writing that's still needed. Will start with ``iswt``/``iswt2`` unless someone has something already in the work.

[2016-10-10 08:02] holgern commented on #203
I can do the cwt documentation.

I am planing also to add denoising algorithm for dwt. (similar to matlab function wden).

[2016-10-10 14:38] grlee77 commented on #203
Thanks @holgern

As far as `wden`, there may be a comparable routine, but with n-dimensional support in scikit-image (on master, not yet released).  Specifically, there is `denoise_wavelet` which is an n-dimensional denoising routine based on thresholding coefficients and a routine `estimate_sigma` that estimates Gaussian noise standard deviation.  PyWavelets will be a dependency of `scikit-image`

[2016-10-10 17:19] grlee77 opened #209 "broken doctests"
There are a few things in the recently merged PRs that have broken some existing doctests.  (These can be run by `make doctest`  from within the `doc` folder.  These tests need to either be updated or removed.  Some are trivial to fix, but a few concern me:

One that fails:
[code]
[code]
The new DWT and CWT fields are to be expected, but why are characters displayed for "Family Name", "Short Name"

[2016-10-10 17:23] grlee77 commented on #209
I forgot to mention that there are 0 doctest failures if I checkout v0.4.0.

[2016-10-10 17:26] grlee77 commented on #209
pinging @holgern as these are mostly related to the new wavelets added.
(see `doc/source/regression/wavelet.txt`)

@rgommers do you think it is worth updating the explicit tests for the lists of wavelet names, length of wavelist, etc or just remove those tests?

[2016-10-11 09:36] rgommers commented on #209
I think those are pretty pointless as tests. Also as documentation they're not particularly instructive. So I'm fine with removing.

[2016-10-11 09:38] rgommers opened #210 "Run doctests in CI setup"
See gh-209, we broke doctests because they're not run. We can steal ``tools/refguide_check.py`` from scipy for this, and put it on a separate entry of the ci build matrix.

[2016-10-11 11:45] danjjl opened #211 "Typo in iswt documentation"
A little typo is present in the `iswt` documentation:

The coefficient list reads:

    [(cAn, cDn), (cA2, cD2), ..., (cA1, cD1)]

while it should read:

     [(cAn, cDn), ....(cA2, cD2), (cA1, cD1)]

[2016-10-11 14:42] #211 closed

[2016-10-11 22:26] grlee77 commented on #209
Direct tests of wavelet filter coefficients against Matlab were added by commit a665fe8.  However, accuracy is confirmed at tolerance 5e-11 whereas the doctest for `db3` coefficients compares 14 digits.  As the unit tests have been added we can remove this doctest , but should check if there is a simple reason why the precision changed.

I can confirm no test failures as of March 7 at commit f71d9

[2016-10-11 22:54] grlee77 commented on #209
Okay, the coefficient difference was introduced during the C code refactoring when we went from explicitly storing all sets (rec_lo, rec_hi, dec_lo, dec_hi) of filter coefficients, to only storing one and calculating the rest from that.

[2016-10-12 09:34] romaniukm opened #213 "Horizontal and vertical detail possibly switched in wavedec2"
Hi,

I noticed that horizontal and vertical bands may be switched around in wavedec2. Here is some IPython notebook code to reproduce this:

[code]

[2016-10-13 09:01] cdeil commented on #48
Is the CWT functionality mentioned in the docs?

I can't find it:
http://pywavelets.readthedocs.io/en/latest/search.html?q=cwt&check_keywords=yes&area=default

[2016-10-13 09:01] cdeil commented on #48
Forgot to say: thank you very much for adding it!

[2016-10-13 12:56] grlee77 commented on #213
This is not a bug in PyWavelets, but just a different convention on which axis is "horizontal" vs. "vertical".  In PyWavelets, what is labeled "horizontal" is axis 0 while "vertical" is axis 1 (as indicated in the docstring).  However, imshow uses a different convention, where axis 0 is displayed vertically.

[2016-10-13 13:08] grlee77 commented on #213
That said, we could probably make this clearer in the documentation.   I think it is only the 2D routines that have the potential for confusion as the n-dimensional case uses explicit names such as 'da', 'da', etc. that make it clear which filters were applied on each axis.

[2016-10-13 13:45] grlee77 commented on #209
just a heads up that I plan to make a PR with doctest fixes later today

[2016-10-13 14:19] grlee77 commented on #209
see #214 for most of the fixes.  still haven't looked into why I get a segfault when calling `print` on a Wavelet object.

[2016-10-13 19:23] rgommers opened #215 "Remove legacy copies of docs"
`pythonhosted` is deprecated, so http://pythonhosted.org/PyWavelets/ needs to go.

There's also still an even older copy at http://www.pybytes.com/pywavelets/ which people are finding (example: https://github.com/nigma/pywt/issues/17#issuecomment-253165926)

[2016-10-13 19:25] rgommers commented on #215
would be best to go readthedocs-only in v0.5.0, because links in a release readme last a while. I'll try to do this over the weekend.

[2016-10-13 19:27] nigma commented on #215
Right. I'll take care of the one at pybytes.com over the weekend and see how to add redirects to Sphinx templates.

[2016-10-13 19:33] rgommers commented on #215
great, thansk @nigma

[2016-10-13 20:18] grlee77 opened #216 "Updating project info on OpenHub"
I noticed that the project info on `OpenHub` (https://www.openhub.net/p/PyWavelets) (formerly Ohloh) was pointing to the old `bitbucket` repo.  I just updated the repository link to point here and updated the description slightly.  The site auto-analyzes lines of code, level of activity, etc.  Just by changing the repo URL, the project status has been updated from **inactive** to **moderately acti

[2016-10-13 21:08] grlee77 opened #217 "`blank_discrete_wavelet` does not properly intiailize some properties"
This is a regression since 0.4.0 and is the source of a couple of the doctest failures.  I will have a PR shortly

[2016-10-13 21:54] grlee77 commented on #209
The issue with printing the custom wavelet in the first comment is resolved by #218

[2016-10-14 09:34] rgommers commented on #216
disabling public access would make sense I guess, but not critical. Having multiple managers would be good

I just did the same

[2016-10-14 09:45] rgommers commented on #217
fixed in gh-218, closing

[2016-10-14 09:45] #217 closed

[2016-10-14 09:45] #209 closed

[2016-10-15 16:35] nigma commented on #216
I added Ralf to managers, but I didn't receive any other requests. @grlee77 can you try again?

[2016-10-15 16:52] nigma commented on #215
I added a notice on the site and an automatic redirect from http://www.pybytes.com/pywavelets/ to https://pywavelets.readthedocs.io/en/latest/. We can do something similar for *pythonhosted* if you want.

[2016-10-15 19:25] rgommers commented on #215
That looks good @nigma. If you could put the same notice and redirect on pythonhosted, that would be great.

[2016-10-15 21:22] grlee77 commented on #216
Yes, I think I never hit send.  I just did it now.

[2016-10-15 22:32] rgommers commented on #216
you're in!

[2016-10-15 22:32] #216 closed

[2016-10-16 08:21] #213 closed

[2016-10-18 05:15] rgommers commented on #210
done in gh-220, closing

[2016-10-18 05:15] #210 closed

[2016-10-18 05:19] rgommers commented on #151
done in gh-220, closing

[2016-10-18 05:19] #151 closed

[2016-10-19 21:02] Arnold1 commented on #186
@grlee77 thanks for the info.

i wonder how the following version can be improved?
[code]

[2016-10-23 00:40] rgommers commented on #48
@cdeil that search for ``cwt`` should give you some results in the docs now.

[2016-10-23 06:36] cdeil commented on #48
@rgommers Thanks!

[2016-10-24 03:43] grlee77 commented on #171
@kwohlfahrt:  I know it has been a long time since this was originally asked, but the use of `waverecn` with `None` for the detail coefficients (and `[None, None]` for additional levels) is equivalent to using all zeros for detail coefficients.  This is a way to upsample the approximation coefficients at each level to have approximately the same number of samples as the original signal in `demo/dw

[2016-10-25 19:55] grlee77 commented on #203
@rgommers.  I went ahead and added `iswt` and `iswt2` docs while I was adding `swtn` in #229

[2016-10-26 09:32] rgommers commented on #203
thanks! you're way too fast for me, can barely keep up with reviewing:)

getting close to checking all the boxes here, a couple more open PRs....

[2016-10-28 18:08] matiasg opened #231 "I can't compile pywt"
The error I get is:

[code]

And that file is really missing:

[code]

It doesn't look like this is a version-dependent issue, but just in case, I'm using debian stretch, with gcc 6.2.0.

[2016-10-28 18:55] rgommers commented on #231
Looks like somehow ``cythonize`` didn't run for you. Can you put the full build log in a gist and link to it?

[2016-10-28 19:01] matiasg commented on #231
sure:
https://gist.github.com/matiasg/78b78563b27f89f976e3357e48c7d65c

[2016-10-28 19:45] rgommers commented on #231
You're indeed missing all of ``cythonize``, the build log should start with:

    $ python setup.py build
    Compiling pywt/_extensions/_pywt.pyx because it changed.
    Compiling pywt/_extensions/_dwt.pyx because it changed.
    Compiling pywt/_extensions/_swt.pyx because it changed.
    Compiling pywt/_extensions/_cwt.pyx because it changed.
    [1/4] Cythonizing pywt/_extensions/_cwt.pyx
    [

[2016-10-28 19:52] matiasg commented on #231
I'm working on master and just made the `git clone`:
[code]
I never worked with `.pyx` files. Should I install a package?

[2016-10-28 19:56] matiasg commented on #231
Yeah, I'm sorry. An `apt-get install cython3` solved the problem. As usual, PEBCAK.

[2016-10-28 20:11] rgommers commented on #231
Ah, that makes sense. This worked better before - a clear warning/error message would have helped you here I'm sure. We need to fix that.

[2016-10-29 18:25] ArasAwas opened #232 "NameError: 'cwt' is not defined"
Hello,
I installed today pywt using easy_install, but when I'm trying to run example with cwt from your docs (http://pywavelets.readthedocs.io/en/latest/ref/cwt.html) I get error message "NameError: name 'cwt' is not defined"
I run demo from your repository named plot_wavelets.py but I didnt get any errors for functions .Wavelet and .wavelist
I tried using Python 2.7 and 3.5.
Can anyone help me fi

[2016-10-29 21:43] rgommers commented on #232
Hi @ArasAwas, did you install the master branch from GitHub, or v0.4.0 (latest release)? ``cwt`` is not in v0.4.0

[2016-10-30 00:47] ArasAwas commented on #232
Thank you for your response,
you're right, I have version 0.4.0, I tried to install one from master and I had problems installing it but didn't noticed its different version. I see now that my it's the same problem like #231 so I could find solution for my problem, so now I have installed succesfully the newest version from Github branch.
Thank you for pointing it out, because I didnt noticed it a

[2016-10-30 07:02] rgommers commented on #232
No problem at all!

[2016-10-30 07:02] #232 closed

[2016-10-31 09:09] rohannaidu opened #233 "wavedec2 and waverec2 applied consecutively don't return original image"
See my notebook [here](https://github.com/rohannaidu/applied_harmonic_analysis/blob/master/pywavelets%202d%20transforms.ipynb) for the issue.

Essentially, using transform = wavedec2(image) and recovery = waverec2(transform) should give me recovery==image. But this is not the case...

What am I doing wrong?

[2016-10-31 15:58] grlee77 commented on #233
I am not sure I see the problem in your example.  The root mean square error you observed is on the order of 1e-8?  When I ran on my machine from current master this was on the order of 9e-11 which is better, but either way that seems pretty good for images scaled in the range [0, 255].  The implementation is based on convolutions using floating point arrays, so there will be some degree of numeri

[2016-10-31 19:18] grlee77 commented on #231
@rgommers, what solution would you recomend?
It looks like `setup.py` is configured so that if we shipped the cythonized `*.c` files, it would work without having Cython installed.  However, if we don't want to commit the cythonized sources, should we just raise an `ImportError` asking the user to `pip install cython`?

[2016-11-01 07:34] rgommers commented on #231
Yes, that is a good thing. We just need to make setup.py smart enough that it knows when it's a release tarball. I'll have a go at fixing that right now.

[2016-11-01 07:51] rgommers commented on #231
There's an additional issue in that we now require a Cython install per Python install, rather than trying as well to use the ``cython`` executable. Getting rid of ``cythonize.py`` means we now have to find new corner cases as we go. Ah well. Not going to bother fixing that right now.

[2016-11-01 07:59] rgommers opened #235 "Build issue: cython not recognized"
Issue, in an isolated virtualenv with only numpy installed:

    $ cython --version
    Cython version 0.23.4
    $ python setup.py build_ext -i
    Traceback (most recent call last):
      File "setup.py", line 23, in <module>
        raise RuntimeError(msg)
    RuntimeError: Cython must be installed when working with a development version of PyWavelets

Solution: bring back ``cythonize.py``, whi

[2016-11-01 08:43] rgommers commented on #203
I think we're all good to go for a last update of the release notes and setting the version number to ``v0.5.0``. Any objections, or shall we call it good?

[2016-11-01 14:38] grlee77 commented on #233
does not seem to be a bug, so closing this one.  Please use the mailing list at http://groups.google.com/group/pywavelets for general questions on usage.

[2016-11-01 14:38] #233 closed

[2016-11-01 14:41] #231 closed

[2016-11-01 16:47] grlee77 commented on #215
@nigma, @rgommers

The pybytes redirect is working, but there is not one on pythonhosted yet.  Would the following `index.html` be sufficient to upload as the documentation on PyPI for v0.5.0?  I think @nigma used a javascript-based solution at  pybytes which is perhaps better, but I have minimal web programming experience.

[code]

[2016-11-01 16:51] grlee77 commented on #203
sounds good.  I should be able to do a release tomorrow.  If you want to go ahead and do it sooner, that is fine too.

[2016-11-03 09:25] rgommers commented on #203
release notes are up to date, changing version number in gh-239. Then it's just a matter of uploading some stuff according to http://pywavelets.readthedocs.io/en/latest/dev/how_to_release.html. I see that doc is still missing info on OS X binaries and the conda-forge package. I'll look at adding that tomorrow.

[2016-11-03 15:30] grlee77 commented on #203
I will do the uploads.  I am already a maintainer on the conda-forge package, so I can do the update there as well.

[2016-11-03 15:39] #203 closed

[2016-11-03 17:28] grlee77 commented on #203
@rgommers
I think I completed everything for the release except:
- what is the process for OS X binaries?
- updating the outdated documentation at PyPI as discussed in #215

[2016-11-03 21:47] grlee77 opened #241 "problem uploading to PyPI"
@matthew-brett kindly built the OS X and manylinux wheels for the v0.5.0 release.  I gave him "Maintainer" access on PyPI, but he encountered the following issue (excerpt from a conversation on Scipy-User)

[code]

[2016-11-04 07:48] rgommers commented on #241
That's an odd message. A single maintainer email address in ``setup.py`` and multiple PyPI admins will be very common, hard to imagine that's disallowed.

[2016-11-04 08:07] rgommers commented on #203
Thanks @grlee77. I'll update the dev docs with those things now.

[2016-11-04 15:53] matthew-brett commented on #241
I guess it's checking whether the text in the `maintainer_email` field is a valid email address, with an `@` sign and so on.

[2016-11-04 19:23] #241 closed

[2016-11-05 21:31] rgommers commented on #215
My web programming skills are at about the same level, so if that does the job then LGTM.

[2016-11-15 09:19] pierrepaleo opened #245 "Keyword "per" for dwt extension mode"
When computing dwt/wavedec/packet, the keyword "per" should refer to the "periodization" mode.
It would make a backward compatibility with  the nigma/pywt version.

Example:

[code]
It looks like the computation is performed with the symmetric extension mode in the second case.

[2016-11-15 09:48] rgommers commented on #245
Thanks for the bug report @pierrepaleo. Something looks to have gone pretty badly wrong here:

    /home/rgommers/.local/bin/ipython:1: DeprecationWarning: per has been renamed to smooth and will be unavailable in a future version of pywt.
      #!/usr/bin/python
    3

[2016-11-15 14:20] grlee77 commented on #245
I believe I caused this when the new `reflect` edge mode was added.  I didn't realize that the mode conversion implementation relies on the order of items in `Modes.modes` and `_old_modes` being the same.

I think there are two relatively easy solutions:
1.) move `reflect` to be the last element in `Modes.modes` list
or
2.) make _old_modes a dict that translates old names to new

[2016-11-15 14:24] grlee77 commented on #245
To further clarify, due to the order of `reflect` in the list, the following old modes are still converted correctly: 'zpd', 'cpd', 'sym'.  The bug affects 'ppd', 'sp1', 'per'.

[2016-11-15 14:54] grlee77 commented on #215
Okay, I have done the upload at PyPI and http://pythonhosted.org/PyWavelets seems to be redirecting (at least for Firefox and Chromium).

[2016-11-15 14:55] #215 closed

[2016-11-15 16:03] pierrepaleo opened #247 "Coefficients for "coif5" wavelet"
Can it be that there is a problem with the "coif5" coefficients ?

In the nigma/pywt version, the low-pass decomposition coefficients are
[code]

In pywavelets 0.5 (and possibly previous versions):
[code]

I also checked with Matlab R2013a and R2016a.
The other coefficients (including coif1-4) seem to be fine, though.

[2016-11-15 17:53] rgommers commented on #215
Thanks!

[2016-11-15 17:56] rgommers commented on #245
That happens. I thought we had added a test covering this name mapping, but apparently not.

[2016-11-15 18:02] rgommers commented on #245
@grlee77 this will affect quite a lot of users. Shall we do a 0.5.1 bugfix release soon?

[2016-11-16 01:33] grlee77 commented on #247
I think some of the coefficient calculations were refactored for release 0.5.  I haven't had a chance to look into this yet, but it seems like they agree up to 7-8 decimal places?  Is the agreement better than this for the other coif wavelets?
@holgern or @kwohlfahrt, are you available to look into this?

[2016-11-16 01:36] grlee77 commented on #245
@rgommers.  a bug fix release sounds good.  So far it would include #246 and #244.
first, we should look into #247 as well, though.

[2016-11-16 08:32] pierrepaleo commented on #247
I agree that they are quite close anyway. However it looks like slightly worse for coif5:
[code]
Then, `maxerr` is less than `1E-11` for most wavelets, but it is `1.1E-05` for `coif5`.
This made one of my unit tests fail for this wavelet.

I am not expert at all regarding the coefficients computation, I am curious to know why and how the coefficients were recomputed ? Which "should" be used ?

[2016-11-16 13:48] #245 closed

[2016-11-16 14:21] grlee77 commented on #247
I took a brief look at this and there are definitely fewer significant digits retained in Matlab's coefficient tables.  However, it is not just a matter of truncation, but the values retained actually differ after the first several digits:
e.g. the first coefficient in Matlab is `-0.00014996380000` while the tables PyWavelets is using has `-1.4996452283459503316705931679195316679754405986916045255

[2016-11-16 14:51] pierrepaleo commented on #247
Thank you for your reply, I'll use the coefficients of PyWavelets as a reference.
I think we can close the issue.

[2016-11-17 08:07] rgommers commented on #245
Great. I have a ``0.5.x`` branch here: https://github.com/rgommers/pywt/tree/0.5.x

I propose to push that to the main repo and work off that.

[2016-11-17 17:39] grlee77 commented on #245
@rgommers
Sounds good.  Is this the procedure you are suggesting?:
1.) check out your branch
2.) push it to a 0.5.x branch on PyWavelets/pywt
3.) make a PR to that branch to update setup.py/release notes
4.) create a v0.5.1 tag from that branch and then do the release as usual
i.e. I can do tagging and release process from the branch in the same fashion as from master? (I am still relatively new t

[2016-11-17 19:06] rgommers commented on #245
Indeed. Ive just done 1-2. For the rest it's the same as a normal release, just against this branch instead of master.

[2016-11-23 19:13] grlee77 commented on #245
Thanks @rgommers.  I did not get to it this week and will be traveling for a few days, but will try to get the release out by early next week.

[2016-11-24 05:47] rgommers commented on #245
No worries, we're not in that much of a hurry I'd think.

[2016-11-28 18:49] grlee77 commented on #247
Closing as this appears to be a minor difference in the source used for Coiflet coefficients in PyWavelets vs. Matlab.

[2016-11-28 18:49] #247 closed

[2016-12-12 16:41] LaurentRDC opened #253 "Dual-tree complex wavelet transform"
Hi all,

Some discussions on implementing the dual-tree complex wavelet transform in PyWavelets occurred in #58 , but let me restate some things:

The dual-tree complex wavelet transform is described in a [review paper](http://ieeexplore.ieee.org/document/1550194/). A Matlab implementation is available [here](http://eeweb.poly.edu/iselesni/), and a [Python port](https://github.com/rjw57/dtcwt) is

[2016-12-12 19:02] grlee77 commented on #253
Hi @LaurentRDC
I have not looked at the specifics of your implementation, but I think there is definitely sufficient interest.  The main potential blocker for inclusion here would be licensing.  I see you have chosen an original BSD (4-clause) license at your repo.  I'm not sure, but I think the advertising clause may be incompatible with `PyWavelets`?  3-clause BSD should be compatible.  Is whate

[2016-12-12 20:04] LaurentRDC commented on #253
I do not have much experience with licensing. The only important thing to us is that anyone using our baseline algorithm cites our research. Other than that, I am open to a different license.

Ultimately, if @grlee77 is working on this, maybe I can help in a different way?

[2016-12-12 20:05] LaurentRDC commented on #253
@grlee77 Shearlets have interesting properties that we might want to exploit in the near future, thanks for the link! I will play around with it.

[2016-12-18 14:00] zstomp commented on #157
FYI 0.5.1 has performance of 0.3.0, i. e. 2.5 times worse than 0.2.2

[2016-12-18 20:31] grlee77 commented on #157
I can confirm that 0.5.1 is the same as 0.3.0 in performance (both are better than 0.4.0).  I think that is what we expect from #162, but still does not match 0.2.2 which is why the issue here hasn't been closed.

[code]

I have a branch at https://github.com/grlee77/pywt/tree/cplx_cwarn_fixed that handles complex dtypes by using C99 complex on the C-side, so that the `np.iscomplexobj` checks are

[2016-12-18 20:48] grlee77 commented on #157
I should also note that for a larger problem size:  i.e. changing `size` from 256 to 65536 and reducing repetitions from 1000 to 10 in the `performance.py` above I get the same relative performance difference for ISWT (although the forward SWT is 7-8 times faster in 0.5.1 at this size due to a more efficient implementation)

[2016-12-18 21:20] grlee77 commented on #157
Okay, I have found a simple solution that restores very close to the 0.2.2 performance for ISWT.  This involves calling the `idwt_axis` Cython routine instead of the `idwt` python routine from within `iswt`.  That gets the time down to 6 s for me.  I will make a PR for that.

Also, if you can process in a batch mode  (i.e. stack multiple 1D transforms into a 2D array and then call `swt` with the a

[2016-12-19 01:04] grlee77 commented on #157
@zstomp
please try out PR #255 and see if that fixes things for you

[2016-12-19 08:02] zstomp commented on #157
@grlee77
I noticed that `iswt` in my original `performance.py` used `'per'` extension mode, and changing it to `'periodization'` speeded up 0.5.1 by almost 40% (who would have thought?). Another, minor, improvement is `if not isinstance(wavelet, Wavelet): wavelet = Wavelet(wavelet)`, although it doesn't address the original issue. `idwt_axis` didn't help at all.

To summarize, 0.5.1 with correct `

[2016-12-19 12:23] zstomp commented on #157
@grlee77 `idwt_single` instead of `idwt_axis` makes it even faster than 0.2.2

[2016-12-19 16:25] grlee77 commented on #157
switching to `idwt_single` was faster for me too  (4.45 s for me).  In that case, you need to make a copy of the coefficient arrays after the odd/even indexing so that they are contiguous when input to idwt_single as that routine cannot work for non-contiguous inputs.  idwt_axis handles that copying internally whenever the input isn't contiguous, but apparently not quite as efficiently.

I will up

[2016-12-19 17:31] zstomp commented on #157
@grlee77 I didn't realize there was a catch, since my higher order test passed. Now I've made a test comparing raw outputs of `iswt` with `idwt` and `idwt_single` without any copying, and they are equal. Am I creating more confusion than help?

[2016-12-19 17:55] grlee77 commented on #157
hmmm... it looks like the input to `idwt_single` is specified as a contiguous memoryview.  Maybe Cython automatically converts a non-contiguous input to contiguous for you.  I will check up on that when I get a chance

[code]

[2016-12-19 17:57] grlee77 commented on #157
nevermind the previous comment.  was looking at dwt_single instead of idwt_single.  for idwt_single it is:

[code]
but then the C routines are passed  e.g. `<double *>cA.data` without any strides info which would seem to imply the coefficients must be contiguous.

[2016-12-19 18:02] grlee77 commented on #157
all tests do pass for me without the copies and as expected it is even faster in that case.  still need to take another look later on why omitting the copy seems to be okay.

[2016-12-19 19:17] grlee77 commented on #157
Okay.  I understand why the copy is not needed now.  This relies on the way numpy indexing via arrays is done.  I was thinking of the scenario as `b1` in the example below which is not contiguous, but the code indexing with a numpy array of ints, not a slice, so this already creates a contiguous copy.

e.g.
[code]
so as long as nobody unwitting changes the way the indexing is done it is safe to no

[2016-12-19 19:26] grlee77 commented on #157
I went ahead and just put a comment noting that the indexed array will be a contiguous copy to avoid any overhead from calls to np.ascontiguousarray().  Performance is now at 4 s on my system which is better than the 0.2.2 case.

no.  constructive feedback is greatly appreciated!

[2016-12-19 19:53] zstomp commented on #157
It all makes sense now, thanks a lot!

[2016-12-21 09:20] rgommers commented on #253
Somehow this message got deleted from this thread, but I'll answer anyway: there is a major difference between requesting users to cite your paper(s), or requiring them to do so. The former is good academic practice anyway - you should cite software you use just like you cite relevant papers. The latter basically means that your software does not qualify as open source software, and cannot be used

[2016-12-21 15:34] LaurentRDC commented on #253
Yes I removed this post because I realized we were not talking about the same thing. In retrospect, I shouldn't delete posts.

I hadn't considered the difference between requiring and requesting, and thank you for the clarification. I will edit my license.

However I was using my package as an implementation example of the DTCWT. I do not mean to merge that code into Pywavelets. I wanted to know i

[2016-12-26 21:14] rgommers opened #258 "feature request: synchrosqueezed wavelet transform"
Original feature request by @gabsee at https://github.com/scipy/scipy/issues/6888:

Is anyone savvy enough to add the new **Wavelet Synchrosqueezed Transform (wsst)** (including inverse **iwsst**) to SciPy?

WSST has recently been implemented in MATLAB (R2016a): https://au.mathworks.com/help/wavelet/ref/wsst.html

The method is based on these two papers:
1. [I. Daubechies, I., J. Lu, and H. T. Wu.

[2016-12-26 21:15] rgommers commented on #258
Seems interesting. There's Matlab code at https://github.com/ebrevdo/synchrosqueezing, but that's not usable right now. I've requested the author to add a license: https://github.com/ebrevdo/synchrosqueezing/issues/2

[2016-12-28 22:00] rgommers commented on #199
Nothing to fix here, and possible improvement seems covered by gh-51. So agree with @kwohlfahrt that this issue can be closed.

[2016-12-28 22:00] #199 closed

[2016-12-29 07:03] rgommers commented on #157
Can this be closed now, or is there anything left to do?

[2016-12-29 07:12] rgommers commented on #156
looks like the question was answered, and don't see a strong reason to keep this open as a feature request. so closing.

[2016-12-29 07:12] #156 closed

[2016-12-29 07:32] rgommers commented on #85
The motivation given on the original PR:

*We used PyWavelets recently in our SpikeSort project. In particular, hstacked ouput from pywt.wavedec was used as a single feature vector. This approach is often used for spike sorting. The function I'm proposing, will be very handy when one wants to allocate a fixed-size numpy array to store wavelet coefficients (obtained from wavedec), before the input

[2016-12-29 07:46] rgommers opened #261 "dmey wavelet not accurate enough"
62 coefficients is not enough for accurate roundtripping (Matlab uses 102 coeffs), see https://groups.google.com/forum/#!topic/pywavelets/W3jFXbTNwrk for details

[2016-12-29 16:44] grlee77 commented on #157
closed by #255.  thanks for reviewing it, @rgommers

[2016-12-29 16:44] #157 closed

[2016-12-29 16:50] grlee77 commented on #258
Looks interesting, but not something I have experience with.

There is an R port of that Matlab toolbox that is under an incompatible LGPL-2 license (https://cran.r-project.org/web/packages/SynchWave/index.html).  Let's see wait and see what the author of that Matlab toolbox says regarding it's license.

[2016-12-29 17:08] grlee77 commented on #85
I think the implementation is correct and it would not be a burden to maintain.  However, I'm not sure if there is still much of a use case for it (see below).

For batched 1D transforms, it should now be faster to run them all at once using the `axis` feature of `wavedec` (which was not present at the time the original PR was opened).

If `wavedecn` was used to do the 1D transforms,  one could al

[2016-12-29 22:22] rgommers commented on #85
Thanks @grlee77, good points. And if one really wanted to do preallocation for some reason, it wouldn't be much of an issue to run a single transform once and obtain the length from the output of that.

So closing.

[2016-12-29 22:22] #85 closed

[2016-12-30 00:12] gabsee commented on #258
Thanks for considering this! I wish I could do this but my Python experience is too young ...

Here's an example of the difference between CWT and WSST for a bit of data
![figure-2_01](https://cloud.githubusercontent.com/assets/24774765/21557418/e9e883fa-ce7f-11e6-822e-44e9f4c7939c.jpg)
From: http://www.hydrol-earth-syst-sci.net/20/4439/2016/

WSST is a pretty neat method, devised by the "mother"

[2016-12-31 17:59] #75 closed

[2017-01-08 08:17] rgommers opened #267 "Adding community guidelines or CoC"
Hi all, I propose to add either a community guidelines statement or a code of conduct (CoC). Options:

- Community guidelines could be something like http://scikit-image.org/community_guidelines.html
- CoC could be something like http://www.numfocus.org/code-of-conduct.html

CoC is more common, but personally I have a preference for community guidelines. Here is a scikit-learn thread with rational

[2017-01-08 08:18] rgommers commented on #267
This is something modern mature open source projects should have, so I added the 1.0 milestone.

[2017-01-13 19:45] matthew-brett opened #271 "Python 3.6 wheels"
OK for me to upload wheels for Python 3.6?  I just built them: https://travis-ci.org/MacPython/pywavelets-wheels/builds/191711596

[2017-01-13 21:39] grlee77 commented on #271
Sure.  That would be great.  Thanks!

[2017-01-13 21:41] rgommers commented on #271
Go for it. Thanks Matthew!

[2017-01-16 06:17] grlee77 opened #274 "0.5.2 release?"
in 0.5.1, `pywt.data.nino` is incompatible with numpy 1.12 due to a non-integer index.  This causes one doctest to fail and prevents running the CWT demo.  Maybe worth making a 0.5.2 release incorporating just the fix in #273?

**potential fixes to include in 0.5.2**

- closed PRs:  #273, #276, #289, #292, #291, #294, #295

[2017-01-16 07:19] rgommers commented on #274
Sounds good to me. The doctest isn't important, but the CWT one is annoying especially given that CWT is new in 0.5.x

[2017-01-19 09:46] JoostJM opened #277 "wraparound in pywt.swt"
When performing swt using a Haar wavelet, the last index in the L-filter is calculated as 1/sqrt(2) * (index[-1] + index[0]), i.e. it seems as if the function wraps around. Is this intentional? I'm certainly no expert on wavelet transforms. Here is the output from some simple tests I did in jupyter:

Test1, length = 8
In: [5 4 3 0 0 0 0 0]
Out-H: [ 6.364   4.9497  2.1213  0.      0.      0.      0

[2017-01-19 09:55] grlee77 commented on #277
Yes, the edge mode is `periodization` for the SWT transforms.  This is basically like `periodic`, but handles odd-sized inputs a bit differently.  (IIRC, for odd input the last sample is duplicated to make an even sized signal and then the even sized signal is filtered using periodic boundary conditions).

The DWT routines have a variety of other edge modes implemented, but the SWT routines do not

[2017-01-19 09:57] JoostJM commented on #277
@grlee77 Thanks for the comment!

[2017-01-20 19:24] lucianomagrini opened #278 "Conservation of Energy"
Dears,
the Parseval's Theorem show that the energy it's conserved in time and frequency domain, right?

I'm using the continuous wavelet transform in a data set but the energy not conserved!

This's a fragment of my code:

*********************

escalas = np.linspace(1, 1500, num=3000)
coefs, freq = pywt.cwt(xfast, escalas, 'mexh')

power = (abs(coefs)**2)

sum1 = np.sum(np.sum(xfast**2))
sum2 = n

[2017-01-26 18:24] grlee77 commented on #278
The discrete wavelet transforms in PyWavelets are energy preserving, but the continuous wavelet transform is not normalized as you are expecting.  The scaling is the same as in Matlab's `cwt` (there are unit tests that validate the output of these routines vs. pre-stored output from Matlab).  I think the discussion on scaling in Matlab's documentation near the bottom of the following page should a

[2017-01-26 18:27] grlee77 commented on #267
I agree this would be good to add.  Community guidelines are fine by me.

[2017-01-26 18:27] #277 closed

[2017-01-26 19:01] lucianomagrini commented on #278
Hi! Thank's for your answer.
I read in the shared link with the scaling "s" is normalized for the factor "1/sqrt(s)" (L2 norm).
I will introduce this fact em my code.
If energy conservation happens, I'll post it here for other users!

[2017-01-28 20:52] EPinzuti opened #279 "pywt.swt_max_level"
Hi,

I am getting different results using pywt.swt_max_level function. If I pass to this function the value 2048  the result is 11 since log2(2048)=11 as expected but if I pass the value 1000 the result is 3 that is equivalent to the log10(1000), why?
thanks

[2017-01-29 08:15] grlee77 commented on #279
That is because 1000 is divisible by 8 (2**3), but not by 16 (2**4).  If you pad the size up to 1024 you will be able to do 10 levels.  numpy.pad is one function that could be used to do the padding.

[2017-01-29 08:15] #279 closed

[2017-01-29 11:25] EPinzuti commented on #279
Thanks.
I am a bit confused.
Are swt transform and modwt (matlab) transform different?  Seems that for a complete decomposition of j levels swt requires N (sample size) to be a multiple of 2^j  but I thought it was well-defined for every N.

[2017-01-29 13:03] cdeil opened #280 "No tests found from installed version"
I added the Python 3.6 version of `pywt` to Macports just now: https://github.com/macports/macports-ports/pull/221

Installation seems to be OK, but no tests are found:
[code]

It should be possible to run tests for an installed version in `site-packages`, no?
It's very convenient to have for checking for users and packagers, not just devs from the source folder.

The docs aren't really clear on t

[2017-01-29 19:50] grlee77 commented on #279
Yes they are different.  The `swt` in PyWavelets is like `swt` in Matlab, where the size must also be an integer multiple of 2^n for an n-level transform. (Although I should mention that `swt` is not currently guaranteed to give exactly the same output as Matlab.  Only the `dwt/idwt` and `cwt` routines are explicitly tested as matching Matlab's output for the corresponding routines).  The `swt` an

[2017-01-29 22:55] rgommers commented on #280
That should indeed work, looks like a packaging issue. I thought we had CI set up for sdist/wheel to catch stuff like this, but apparently that's not the case.

I'll try to fix this within a few days.

[2017-02-08 15:46] sarwatfatimam opened #281 "PyWavelets Installation Issues"
Hello,

I am using 64-bit Anaconda version 4.3.0 with Python 3.6 and PyCharm EDU 3.5 on Windows 8.1. I have tried installing PyWavelets both from Anaconda command prompt and PyCharm packages ( using anaconda python 3.6 and python 3.5 interpreters). I have used following commands on anaconda command prompt.

1) conda install -c auto PyWavelets/ conda install pywavelets
2) pip install PyWavelets

Fo

[2017-02-09 08:08] rgommers commented on #281
Hmm, not quite sure about (1). https://github.com/conda-forge/pywavelets-feedstock/pull/10 rebuilt for Python 3.6 two weeks ago. Do you have ``conda-forge`` in your channels?

(2) is clear, if there's no binary then a source build is attempted, and you don't have the right compilers installed for that. 3.6 wheels for Windows are missing on PyPI, that needs fixing.

[2017-02-11 20:22] sarwatfatimam commented on #281
Adding conda-forge in channels solved the issue. Thankyou.
Also, what type of compilers should I have for source build?

[2017-02-12 04:30] grlee77 commented on #281
On windows with Microsoft Visual Studio you need to match the compiler used to build Python.  For Python 3.6 on Windows this is Microsoft Visual Studio 2015.

It may also be possible to build with mingw/mingw-w64, but I have not tried this and we do not test against that compiler.

[2017-02-13 08:43] rgommers commented on #281
The free version of MSVC'15 works fine, so that's an easier option than mingw-w64. For packages without Fortran code, MSVC should probably be preferred.

[2017-02-16 12:06] tanjosh opened #283 "fbsp_order"
Does it have built in function for Mallat's fast algorithm for quadratic spline wavelets (Characterization of signals from multiscale edges, 1992)?

[2017-02-22 17:58] maroueneboubakri opened #284 "Compatibility with Matlab"
Hi all,

Can you please tell me why I get different results than Matlab ?

**Python code:**

`cA, (cH, cV, cD) = pywt.dwt2(np.ones((6,6)), 'db8')`

**Matlab code:**

`[cA,cH,cV,cD] = dwt2(ones(6,6), 'db8')`

cH, cV and cD are all different in both matlab and python !

Thanks

[2017-02-23 03:24] grlee77 commented on #284
I am not at a computer with Matlab at the moment to check, but my first guess is that the edge mode is different.  I think Matlab defaults to `periodization` (`per` in Matlab) unless otherwise set by `dwtmode`.  PyWavelets defaults to `symmetric`.  Please set equivalent edge modes in both as in the following table:
http://pywavelets.readthedocs.io/en/latest/ref/signal-extension-modes.html#naming-c

[2017-02-23 11:12] maroueneboubakri commented on #284
I tried all modes, I think there is a bug somewhere in the code, by trying another library (not maintained) it gave me the same results as matlab.  This confirms that there is a bug or at least it is not compatible with matlab.

[2017-02-24 22:33] grlee77 commented on #284
Hi @maroueneboubakri

I took a closer look in Matlab today.  I believe the difference you are seeing is just floating point rounding error.  The true values for cH, cV and cD are all zeros for your case of an input that is all ones.  Did you try this on some realistic data and see a difference?

I have pasted below identical results in obtained in Matlab R2012a and PyWavelets 0.5.1 when using a 6x

[2017-02-24 22:33] #284 closed

[2017-02-24 22:41] grlee77 commented on #284
put another way.  Both Matlab and PyWavlets are "wrong" for the case of constant input as neither gives a result that is exactly zero.  Arguably PyWavelets is doing better as the values it returns are on the order of 1e-17 for cH and cD while Matlab's are around 1e-12.

[2017-02-28 20:46] crowsonkb opened #288 "RuntimeErrors and segfaults from swt2() in threaded environments"
The following code raises a RuntimeError ("C wavelet transform failed") not always but the vast majority of the time for me (macOS, PyWavelets 0.5.1):

[code]

swt2() in general seems likely to fail or segfault in multithreaded environments. Switching out the ThreadPoolExecutor for a ProcessPoolExecutor, for instance, makes it work reliably.

[2017-03-01 05:54] grlee77 commented on #288
Thanks for reporting this.  I can confirm that this happens for me as well (only tried on OS X so far) for `swt`, `swt2` or `swtn`.  This same example works fine using DWT routines such as `wavedecn` instead.  Another hint is that it also works fine for `swt` **if the signals are 1D**.  This seems to point to something within the `swt_axis` Cython routine (as opposed to the 1D `swt` Cython routine

[2017-03-01 07:02] grlee77 commented on #288
Took a quick look to track down where the exception originates in the C code.  It is being raised by the following shape check.
https://github.com/PyWavelets/pywt/blob/492c4343cc19ea1c6a5d77e35ef8851d2828b11e/pywt/_extensions/c/wt.template.c#L56-L57
When an exception was raised I found input_shape[0] was 16 as expected, but output_shape[0] was nonsensical values such as 659753992!

I think the cul

[2017-03-01 08:09] grlee77 commented on #280
@rgommers:  will you have a chance to work on this in the next week or so?

It would be nice to have this fix along with the additional one in #289 for a 0.5.2 release.  I should have time to make a release next week.

[2017-03-01 08:17] rgommers commented on #280
I'll try to have a go Saturday. Time is very limited though until the end of next week.

[2017-03-01 17:36] grlee77 commented on #283
It does not.  I do not have time to go through that paper at the moment, but based on a brief look at Appendix A, if it is a standard DWT but with filters as defined in Table 1, you can try defining your own wavelet filterbank based on that.  You would have to then manually apply any level-specific normalization coefficients as in Table 2 as there is not a built-in way to do that.

[2017-03-01 19:56] grlee77 commented on #281
closing this as 32 and 64-bit windows wheels for Python 3.6 are now on PyPI as well (for release 0.5.1)

[2017-03-01 19:56] #281 closed

[2017-03-01 19:57] grlee77 commented on #283
closing this as not a bug.  In the future, please direct this sort of query to the mailing list at:
https://groups.google.com/forum/#!forum/pywavelets

[2017-03-01 19:57] #283 closed

[2017-03-01 19:58] grlee77 commented on #278
@lucianomagrini
Were you able to get the normalization to work as you expected?  I am going to close this for now as the implementation here seems consistent with the Matlab routine we are testing against.

[2017-03-01 19:58] #278 closed

[2017-03-02 00:33] grlee77 opened #290 "idwtn should treat coefficients set to None as zeros"
The current behavior in `idwtn` does not match the description in the docstring when any of the values in the `coeffs` dictionary is `None`.  This change would also make it consistent with the current `idwt2` behavior.

[2017-03-02 05:59] grlee77 commented on #108
closing this as I was mistaken and the `waverecn` transform` does already work as expected for a zero-level transform.

This is tested indirectly in `test_multilevel.py` where some tests involve large wavelets such as `coif17` that exceed the test signal size resulting in a zero-level transform.

[2017-03-02 05:59] #108 closed

[2017-03-07 10:00] #288 closed

[2017-03-07 10:13] rgommers commented on #280
Working on this now. The sdists on PyPI do have tests, but the wheels don't.

[2017-03-07 10:28] rgommers commented on #280
The issue is that ``setuptools`` refuses to install ``.py`` files in sub-directories that do not have an ``__init__.py``. This used to be handled with `config.add_data_dir('tests')`` in ``setup.py`` files, but that got lost when getting rid of the dependency on ``numpy.distutils``.

The most straightforward solution is probably to add ``tests/__init__.py``. It does have some side effects though, w

[2017-03-07 20:20] grlee77 opened #293 "bug in waverec of n-dimensional data when axis != 0"
The shape check that occurs here:

https://github.com/PyWavelets/pywt/blob/96ee638e619d81cee316dabc1c81b90383989d8c/pywt/_multilevel.py#L146-L147

is assuming a transform along axis 0.  I missed updating it when I added `axis` support to all DWT routines.

This means that for some combinations of data size and wavelet, mismatched approximation and detail coefficient arrays can occur causing a `Run

[2017-03-08 22:36] #280 closed

[2017-03-08 22:45] grlee77 commented on #274
updated the list again.  we are almost there for 0.5.2

I think #291 is ready to merge.

Came across #294 yesterday when working locally on code related to the fully separable transforms for #204.  It should be pretty simple to review.

[2017-03-08 22:59] rgommers commented on #274
I'll be able to review in a couple of hours.

[2017-03-09 01:22] rgommers commented on #271
done, closing. thanks again Matthew

[2017-03-09 01:22] #271 closed

[2017-03-09 01:24] #290 closed

[2017-03-09 01:37] #293 closed

[2017-03-09 01:39] rgommers commented on #274
The doc build on readthedocs just failed, I'll have a look now. Other than that things are good to go for 0.5.2 I'd say.

[2017-03-15 23:53] samyachour opened #302 "Can't remove cA and then reconstruct"
I have some EKG data i'm running wavelet decompisition on (thanks for this library!!). Here is an example of my code running level 6 db4 transformation on a 1 dimensional data set (list of voltage values, i.e. [1, 3, -1, 2...], the time intervals are +0.003s).

I used wavedecn because later I want to use waverecn later (where my problem begins)

[code]

So I rebuilt using all the levels to get the

[2017-03-16 18:01] grlee77 commented on #302
Will take a closer look at this soon.  In the meantime, can you tell me which version of `PyWavelets` you are working from?  One related issue with coefficients as  `None` was fixed recently by #291 (which was included in the 0.5.2 release made last week).

[2017-03-16 19:09] grlee77 commented on #302
Okay, a few more comments:

removing c[0] altogether is not supported.  Setting it to `c[0] = None` is supported and seems to be working as of 0.5.2 (and in current master).  Another equivalent alternative is `c[0] = np.zeros_like(c[0])` if which may be clearer in intent.

Using `pop` to remove detail coefficients should not be done (unless it is the last element of the coefficient list).  Ideally

[2017-03-16 19:11] grlee77 commented on #302
at a minimum, if whether we decide to keep cases 2 and/or 3, we should add a test so this will not become broken in the future

[2017-03-16 19:25] grlee77 commented on #302
One other comment.  If you remove the last stage detail `coeffs` the reconstructed volume will be smaller than the input as the 6-level transform will be truncated to 5-levels.  If you instead set it to an empty dict, the final stage will be run as if all detail coefficients were zeros, but due to a subtle implementation detail that relies on shapes of both the approx and detail coefficients to de

[2017-03-18 08:35] samyachour commented on #302
@grlee77 your PR (#303) was very helpful in solving this issue. I am not familiar with wavelet theory, so it's news to me that omitting detail coefficients is different from setting them to zero (though intuitively that makes sense!)

Also, not sure if it matters, but on your PR you have a typo on line 470 in _multilevel.py.

Thanks again, everything is in working order 👍

[2017-03-18 08:35] #302 closed

[2017-03-20 05:10] ghost opened #304 "How to obtain transformation matrix directly?"
Is there a way to obtain the n^2 matrix itself rather than have the library perform the operation?

I want to implement it as simple matrix multiplication on the GPU, and the  O(N^2) memory complexity is tolerable.

A function to construct such a matrix based on the desired number of levels and w*h input would be nice.

[2017-03-20 17:34] grlee77 commented on #304
We do not currently have anything in PyWavelets to do this.

I will leave this open as a feature request.  Is this something you might be interested in contributing?  I think supporting all edge-modes and arbitraty number of dimensions would be a bit of work, but if you wanted to just support the 1D case and periodic boundary conditions it could be pretty straightforward.

As you indicate, since t

[2017-03-20 17:39] grlee77 commented on #304
As the matrix will be mostly zeros (at least in the typical case where the signal has many more samples than the FIR filters), the memory usage shouldn't be too high if sparse matrices are used.

[2017-03-21 01:17] MoorayJenkins commented on #304
What about lifting schemes?

[2017-03-21 13:09] mackaiver opened #305 "Where did iswtn go?"
Hello,
I'm on release 0.5.2 just installed via pypi.

According to the documentation here:
http://pywavelets.readthedocs.io/en/latest/ref/iswt-inverse-stationary-wavelet-transform.html#multilevel-n-dimensional-iswtn

there is a function called `iswtn` to perform the inverse operation of `swtn`. However the method does not seem to exist:
[code]
At first glance the method does not appear to be in th

[2017-03-21 15:52] grlee77 commented on #305
On Mar 21, 2017 9:10 AM, "Kai Brügge" <notifications@github.com> wrote:

It is not in 0.5.2.  The documentation is built from the current master
branch which is ahead of the 0.5.2 release.

One option is to build from source by checking out the code from:
https://github.com/PyWavelets/pywt/

If you don't want to hassle with building from source, you can just copy
the iswtn function from here:
http

[2017-03-21 15:53] grlee77 commented on #304
We do not currently have a lifting-based transform in PyWavelets.

[2017-03-21 15:54] #305 closed

[2017-03-22 09:19] mackaiver commented on #305
particularly if the number of levels is large.  If performance is not
adequate for your application, please let me know as I do have an
alternative implementation that is a bit faster, but not quite in shape for
making a PR to PyWavelets yet.

The performance should suffice. We're not quite ready for applying this in production yet. I'll let you know if its too slow.

[2017-04-07 01:07] JohnLunzer opened #306 "dwt_max_levels not enough documentation"
The description of the pywt.dwt_max_levels function seems ambiguous to me.
[code]
I've tried to do some digging/reading (a couple hours worth). I've found a couple other references to a similar algorithm used by pywt, also without explanation. What happens at decomposition levels lower than this that makes them not useful?

 I would appreciate it if somebody could explain to me what maximum _usefu

[2017-04-07 01:46] #274 closed

[2017-04-07 03:42] grlee77 commented on #306
The DWT is basically repeated application of convolution with a scaling or wavelet filter followed by decimation (downsampling) by two.  Here is a filterbank diagram from wikipedia illustrating this:
![image](https://cloud.githubusercontent.com/assets/6528957/24782238/e4d85f2c-1b12-11e7-8012-80ec4984385d.png)

After a certain number of levels, the discrete signal has been decimated as far as possi

[2017-04-07 06:58] Pierre-Bartet opened #307 "Complex morlet wavelet (cmor) bugged ?"
When using cwt on a simple sinusoid, cmor gives a weird result :

![image](https://cloud.githubusercontent.com/assets/24455641/24788852/13e363fe-1b70-11e7-86ca-be15e1a4d115.png)

While non complex morlet or whatever other complex ones such as cgaus gives somethings that seems more correct :

![image](https://cloud.githubusercontent.com/assets/24455641/24788846/0a6c3f3a-1b70-11e7-8142-b57db8da6712.

[2017-04-07 11:44] JohnLunzer commented on #306
@grlee77, thank you for documenting it up to that point. I had made it that far in my investigation.

I guess I was more interested in _why_ this statement is true:

If I do the DWT steps manually or manually do the convolution/downsampling and use periodization for signal extension what is it about the signal being shorter than the filter length that makes the result no longer valid/useful/correc

[2017-04-07 12:04] grlee77 commented on #307
Can you provide a minimal Python code to reproduce this?

[2017-04-07 12:09] Pierre-Bartet commented on #307
[code]

[2017-04-07 12:20] grlee77 commented on #306
I do not know of a quick tutorial/source showing this that I could point you to, but can give a basic example here:

consider a singal of length 8.  The length after each of 3 levels of decomposition with a Haar wavelet and edge mode periodization will then be 4:2:1.  Once you reach a length one signal, convolution with the filter is just a scaled version of the filter and is not providing any new

[2017-04-07 14:18] grlee77 commented on #307
I agree that this does not look right.
@holgern, do you have any idea what might be going on here?

looking into it a bit more, I am not sure why `cmor` can be specified without any indication of what the complex Morlet parameters are.  For instance, in Matlab's toolbox `'cmor'` alone is not a valid wavelet name.  One would have to specify a specific case such as `cmor1.5-1` (although that does no

[2017-04-07 14:27] grlee77 commented on #307
Okay, I think that maybe it is just that the frequency parameters need to be set to a different value than the default.  It seems that `cmor`, `shan` and `fbsp` Wavelet objects have both a `center_frequency` and `bandwidth_frequency` attribute.  So the equivalent of Matlab's `cmor1.5-1` in PyWavelets would be:

[code]
then the transform
[code]
![figure_6](https://cloud.githubusercontent.com/assets

[2017-04-07 14:35] grlee77 commented on #307
I don't think there is a bug in the transform as I see the same kind of spectrum when comparing to Matlab's `cwt`.  To get a result in Matlab that matches the default `cmor` in PyWavelets, one has to set 'cmor1.0-0.5'.

I think we should modify the PyWavelets `ContinuousWavelet` object code to take string input such as `cmor1.5-1` and extract the bandwidth/center frequency parameters for better Ma

[2017-04-07 14:46] JohnLunzer commented on #306
@grlee77 , I've performed a similar experiment using the `bior2.2` wavelet (which has a low-pass filter length of 5) and doing each level of decomposition manually. I found it useful to print out the low-pass results at each level of decomposition. I also scaled the low-pass results so that the DC gain was unity so each scaled version of the signal matched the previous decomposition level. Doing t

[2017-04-07 14:47] grlee77 opened #308 "incorporate bandwidths into CWT wavelet names for families `cmor`, `shan`, `fbsp`"
The `cmor`, `shan` and `fbsp` `ContinuousWavelet` objects have both a `bandwidth_frequency` and `center_frequency` attribute.  If a user calls the `cwt` routine in Matlab these must be specified in the name as follows:

e.g. `cmor1.5-1` gives a complex Morlet wavelet with `bandwidth_frequency` of 1.5 and `center_frequency` of 1.0.

To do the equivalent in PyWavelets one currently has to first crea

[2017-04-07 15:00] grlee77 commented on #306
This issue tracker is intended for reporting bugs (or requesting specific features) in PyWavelets, not for general support/discussion.  I think this sort of general question is more suited to something like http://dsp.stackexchange.com/ or http://math.stackexchange.com.  You might also try the google group:  https://groups.google.com/d/forum/pywavelets, although it is not very highly active.

Cert

[2017-04-07 15:31] JohnLunzer commented on #306
@grlee77, this _could_ be general question, but in this case it is based specifically on `dwt_max_levels` which does not elaborate on what a "useful" level is and gives no further explanation on why the algorithm is valid. PyWavelets' coding guidelines in `CONTRIBUTING.md` puts a lot of emphasis on clear and _complete_ documentation. Based on that guideline the almost nonexistent documentation (on

[2017-04-07 16:55] grlee77 commented on #306
Fair enough.  I apologize that my response came across as more adversarial than intended.  I did not mean to discourage discussion, but just thought that it may be better suited to the mailing list than an issue tracker.  I don't personally have the bandwidth to spend more time on it today and there may be a better chance of getting a quicker response on stack exchange or the mailing list where th

[2017-04-07 17:40] grlee77 commented on #306
despite my previous statement RE: bandwidth I was still thinking about this...

FWIW, here is Matlab's documentation for the equivalent routine, although they don't explain the rationale there either:
https://www.mathworks.com/help/wavelet/ref/wmaxlev.html

I think it is basically just that the decomposition stops whenever the signal would become smaller than the filter as in that case there would

[2017-04-07 17:53] grlee77 commented on #306
What do you think about something like the following for the documentation for `dwt_max_levels`?  (perhaps in the `Notes` section of the docstring).

```This routine returns the maximum number of levels of wavelet decomposition of a discrete signal.  The rational for the choice of levels is the maximum level where at least one coefficient in the output is uncorrupted by edge effects.  Put another

[2017-04-07 19:45] JohnLunzer commented on #306
I like it. I think it nicely summarizes the fruits of the technical discussion.

Rather than saying edge effects I would change the second sentence to (altered portion in italics):

And yes, I think adding the formula to the docstring would be nice. I originally had to look through the source to find it.

I would say it's "good enough" without really digging into sampling theory and what not.  If

[2017-04-10 06:19] Pierre-Bartet commented on #307
Thanks !
By the way it is not clear for me what is wrong with the default values in this case and why the cmor gives such a weird result compare to mor despite having the same parameters.
Also going from default values :
[code]

to

[code]

is just a factor of 2, so I would expect the same results with a factor of 2 on the scale. In fact that is what we see on the plots : largest coefficients are

[2017-04-10 09:33] rgommers commented on #308
It's ugly, but I don't see a better option. So +1

[2017-04-10 18:50] grlee77 commented on #307
I am not a user of the continuous transforms and have not looked into them in detail, so I do not know why this is offhand.  I can confirm that for the same sort of pattern appears in the Matlab (R2012a) output, so this behaviour is not unique to PyWavelets.  Matlab result showing the magnitude of the coefficients is in the bottom panel below:

![matlab_result](https://cloud.githubusercontent.com/

[2017-04-11 10:03] holgern commented on #307
I find the cause of the error. It can be easily fixed.
The precision of pywt.integrate_wavelet must be increased
_cwt.py: lines 77-83

            precision = 10
            int_psi, x = integrate_wavelet(wavelet, precision=precision)
            step = x[1] - x[0]
            j = np.floor(
                np.arange(scales[i] * (x[-1] - x[0]) + 1) / (scales[i] * step))
            if np.max(j) >=

[2017-04-11 11:00] holgern commented on #307
precision = 10
        int_psi, x = integrate_wavelet(wavelet, precision=precision)
        step = x[1] - x[0]
        j = np.floor(
            np.arange(scales[i] * (x[-1] - x[0]) + 1) / (scales[i] * step))

        if np.max(j) >= np.size(int_psi):
           precision = np.ceil(np.log2(np.max(j)))
           if precision > 25:
                precision = 25
           int_psi, x = integrate_wa

[2017-04-11 14:55] grlee77 commented on #307
@holgern: a PR would be great!

I think accuracy is more important than speed, so doing some sort of check by default is probably best.  One option would be to provide a function parameter `precision` that defaults to `None` where `None` means "autotune" as above.  The user could then pass in a specific precision value to improve performance in cases where it is needed.  Do you think that would be

[2017-04-11 15:29] Pierre-Bartet commented on #307
It seems nice to me!

[2017-04-18 08:19] holgern commented on #307
I investigated the problem in more detail.
It cannot be easily fixed, higher precisions does not solve the problem.

At higher scales the convolution shows artifacts:
The scaled wavelet psi is at scale 100
int_psi[j.astype(np.int)][::-1]:
![figure_1](https://cloud.githubusercontent.com/assets/2202263/25120754/9e8b63e6-241f-11e7-9214-d4b6e1b3302c.png)

The coef are calculated by
coef = - np.sqrt(sc

[2017-04-18 08:57] holgern commented on #307
If the convolution is used with mode='valid' instead of full, the result is the following:
![figure_1-5](https://cloud.githubusercontent.com/assets/2202263/25122602/cea1bb24-2425-11e7-907d-ec8340711d33.png)

[2017-04-18 09:00] holgern commented on #307
We can the mode parameter to cwt.
mode = 'valid' means then, that only the valid part is shown and the rest is zero.
mode = 'full' means that it is tried to fill everything

[2017-04-19 11:53] holgern commented on #261
https://github.com/rafat/wavelib/commit/318e9b0f86d76e3c7e7fd428f7b44cff592ff5b2

Here are 102 coeffs available. But no reference given, from where the coefficients are taken.

[2017-04-19 12:09] holgern commented on #261
In this paper, it is shown that 66 FIR coefficients are sufficient:
https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=13&cad=rja&uact=8&ved=0ahUKEwjju4GavbDTAhWJOxoKHe7FAicQFghqMAw&url=https%3A%2F%2Fccrma.stanford.edu%2F~dattorro%2FWavelet.pdf&usg=AFQjCNFRfxrrWOfFqQ_73oUkPPtN1nTzzA

[2017-05-01 20:52] mivade opened #312 "Documentation should suggest using the default conda channel"
PyWavelets is now [available](https://anaconda.org/anaconda/pywavelets) (as of about a month ago) with conda from the default channel. Is there any reason the documentation shouldn't be updated to recommend installation this way versus using the conda-forge channel?

[2017-05-01 22:08] grlee77 commented on #312
agreed.  a PR for this would be welcome

[2017-05-04 02:07] carlosayam opened #313 "wave.wavefun does not return xs within proper support"
As can be seen [here](http://wavelets.pybytes.com/wavelet/db2/), the values returned by wave.wavefun although correct in 𝜙 and ψ, have wrong values for `xs` as they are only valid for the scaling function, not the wavelet. As I see it, fixing this requires a breaking change in API

`phi, psi, xs_phi, xs_psi = wave.wavefun(...)`

and of course putting into place code for compactly supported wavelet

[2017-05-04 05:16] grlee77 commented on #313
I think you are saying that the coordinates should be different for the wavelet by an integer shift?  As a concrete example, for 'db2' the current `xs` is in the range [0, 3] while for the wavelet, `xs_phi` should be in the range [-1, 2]?

Additional contributors to the project are always welcome.  The `wavefun` function is not one I have personally worked on.  If you are interested in improving i

[2017-05-04 05:29] carlosayam commented on #313
Yes, that's what I meant. I will do a PR to have separate `xs_phi` and `xs_psi` in the output on wavefun.

I am using wavelets outside the context of filtering, as general approximation functions, and that information is critical for any algorithm working with them.

I will investigate is there is an easy way to infer support for father and mother wavelets from the filter definition; if I find som

[2017-05-04 13:23] grlee77 commented on #313
Great.  If you have any simple demo along those lines that uses the new `xs_phi`, you could add a file to the `demo` subfolder of the repository to illustrate its use.

Actually, that site was created long ago and I don't believe it is any longer actively maintained.  For instance, there are additional Debauchies (up to `db38`) and Coiflet (up to `coif17`) wavelets available in PyWavelets that do

[2017-05-04 14:09] carlosayam commented on #313
Thanks Gregory for your guidance; I will get onto it.

[2017-05-18 11:56] nabobalis opened #315 "Using Code from PyCWT"
There's been quite a few attempts at a CWT code in Python and I guess most have made use of the Torrance and Compo code and the [Matlab](http://noc.ac.uk/marine-data-products/cross-wavelet-wavelet-coherence-toolbox-matlab) Wavelet ToolBox. kPywavelets was the most complete version which is now renamed as [PyCWT](https://github.com/regeirk/pycwt).

I recall discussing this at EuroSciPy 2014, that i

[2017-05-18 14:16] grlee77 commented on #315
I think increased CWT functionality would be welcome.  I guess I am a little unclear on exactly what you are proposing here, though.  It seems the functionality you want is already provided by PyCWT (although it has not yet had an official release).  Are you proposing merging PyCWT functions into PyWavelets rather than maintaining a separate PyCWT pacakage?  If they are intended to remain separate

[2017-05-18 14:27] grlee77 commented on #315
I forgot to mention:  Thank you for working on receiving permission from the original authors to re-license as BSD for PyCWT!  I think that is useful regardless of whether or not this functions end up within PyWavelets.

Personally I think it would be nice to include the functionality here, but lets see what others think.

[2017-05-18 15:01] nabobalis commented on #315
What I am proposing is merging in some of the functions in PyCWT here. From my point of view, having two wavelet packages that offer CWT is not viable long term and this is the larger and more popular project.

So if the idea was to keep extending the CWT within this module,  I want to PR functions or changes for the CWT so we can replicate the functions needed to create T&C style wavelet plots. I

[2017-05-22 19:14] rgommers commented on #315
https://github.com/regeirk/pycwt#disclaimer now says BSD licensed, however the 3 links to code used show that that code is unlicensed (2x) or says "free for nonprofit use". So I have to ask: @regeirk did you really obtain explicit permission from all those people to use their code under a BSD license and list them as authors?

[2017-05-22 19:16] nabobalis commented on #315
@rgommers It was me to obtained the permission. [Here are the emails.](https://github.com/nabobalis/pycwt/tree/master/license). Hopefully that is enough.

I am not sure if the text in the code was updated to conform with the licence.

[2017-05-22 19:19] rgommers commented on #315
@nabobalis thanks, that is perfect!

[2017-05-22 19:20] nabobalis commented on #315
Do we need to remove any mention of text in the code? Or other changes?
I do not want to violate the licence!

[2017-05-23 15:33] grlee77 commented on #315
Are you asking this for the readme over at PyCWT?  I think the LICENSE.md file you have there is fine.  In the README.md there is currently a statement saying:
"This software is released under a BSD-style open source license."
I would probably just add something like: "(with permission of the original authors of the Matlab packages upon which it is based)" to make it clear that you have explicitly

[2017-05-26 08:33] nabobalis commented on #315
I will change that. I am glad that the licences work out!

I think in hindsight, it might be best to revisit this when pycwt gets a full release. With tests and full documentation I believe we will have a better idea of what can and should be ported to pywt. I feel that the pycwt code base is a bit too immature right now.

Thank you for your assistance.

[2017-05-26 08:33] #315 closed

[2017-05-31 17:47] sergiopasra opened #316 "Test fail in some architectures"
I'm building a package of pywt for Fedora and running the tests in different architectures.

https://koji.fedoraproject.org/koji/taskinfo?taskID=19794657

One test fails in the following architectures: ppc64le, aarch64, ppc64 and s390x
And passes in x86_64, i686 and armv7hl

For example, this is the build.log in ppc64le
https://kojipkgs.fedoraproject.org//work/tasks/4659/19794659/build.log

The of

[2017-06-01 16:13] grlee77 commented on #316
Thanks for reporting this.  It looks like the tests just need to allow for a small absolute deviation from the expected result.  (i.e. -8.152e-16 is not quite 0).  Can you see if the fix proposed in #317 resolves the issue on these architectures?

[2017-06-02 09:28] sergiopasra commented on #316
With this patch, the tests pass in all architectures. Thank you!

[2017-06-02 09:29] sergiopasra commented on #316
https://koji.fedoraproject.org/koji/taskinfo?taskID=19808993 for the record

[2017-06-02 10:16] #316 closed

[2017-06-16 05:18] KrnTneja opened #319 "WavletPacket2D constructor has no argument level"
WavletPacket2D constructor when called as:

[code]
gives the following error:

[code]
I tried with maxlevel argument instead of level, but when I check the level as:

`print(wp.level)`

The output is 0.

How are we supposed to take 2D Wavelet Packet Transform using pywt?

[2017-06-16 05:40] grlee77 commented on #319
`maxlevel` is the argument used to set the number of levels.  It may not be the most intuitive, but if you access a particular coefficient, the `level` attribute tells you what level of the decomposition it corresponds to.  For example for the code
[code]

I have specified a maximum of 2 levels.  I can access via keys corresponding to the characters 'a', 'v', 'h', 'd', corresponding the approximat

[2017-06-16 05:44] grlee77 commented on #319
Did you see `level` being used in the initializer somewhere in the documentation?  If so, that is an error we should fix.

The [docs for the 2D wavelet packet](http://pywavelets.readthedocs.io/en/latest/ref/wavelet-packets.html#waveletpacket2d-and-waveletpacket2d-tree-node2d) class's `__init__`  list `maxlevel` as an optional argument which seems to be correct.

[2017-06-16 06:27] KrnTneja commented on #319
No. Totally-my-bad. I didn't quite get the documentation (which is correct).
I was hoping this to work like pywt.wavedec2 but now I get it.

[2017-06-16 06:27] #319 closed

[2017-06-16 17:47] #312 closed

[2017-08-12 04:28] rgommers opened #323 "http://wavelets.pybytes.com/ down"
The wavelet browser is referenced from the PyWavelets docs, but the sources for and deployment code of that application are not in this repo. @nigma could you have a look at what is going on?

[2017-08-27 22:42] shermstats opened #324 "`pywt.swt_max_level` silently returns unusually low number of levels for non-dyadic series"
If I try to pass a numpy array with a dimension that is non-dyadic (isn't an even power of 2), `pywt.swt` returns a wavelet coefficient array with unusually small dimensionality. For example, if I give it an array of size 88373, `pywt.swt_max_level`(88373) gives 0, if I pass that function 88372, it gives 2, and if I pass it 131072 (the next highest power of 2 above 88373), it returns 17, which is

[2017-09-06 08:07] maihao14 opened #325 "how to reconstruct DWT with same size?"
I wanna the same results from Matlab code:
[C,L] = wavedec(data,5,'db4');
A = wrcoef('a',C,L,'db4',5);

How can I do this in pywt?
I noticed that  in pywt  use the certain group of coefficients  cA,cD cannot reconstruct the same size of the Original Data

[2017-09-06 20:16] grlee77 commented on #325
This is a little tricky because PyWavelets does not currently have an equivalent of the `wrcoef` function from Matlab.  An equivalent to that function can be implemented for 1D data by manually looping over calls to `pywt.upcoef`.  In the example below, `a` should end up equivalent to `A` in your Matlab code above:

[code]

[2017-09-11 09:48] maihao14 commented on #325
Thanks a lot.  It's very helpful for me to deal with this case.

[2017-09-11 16:37] grlee77 commented on #325
no problem.  In the future, please direct such questions to the mailing list at:
https://groups.google.com/forum/#!forum/pywavelets

This issue tracker is intended for reporting bugs in or discussing development of the source code.